[2015-08-18 23:49] GoogleCodeExporter opened #32 "replace GNU gsl by lapack"
[code]

Original issue reported on code.google.com by `christop...@gmail.com` on 7 Dec 2010 at 3:44
- Blocked on: #115

[2015-08-18 23:50] GoogleCodeExporter opened #61 "add a cmake option for in-source development"
[code]

Original issue reported on code.google.com by `christop...@gmail.com` on 16 Jan 2011 at 6:47

[2015-08-18 23:50] GoogleCodeExporter opened #94 "cmake: rewrite help2t2t into a cmake script or direct bump of manpage"
[code]

Original issue reported on code.google.com by `christop...@gmail.com` on 16 May 2011 at 9:38

[2015-08-18 23:50] GoogleCodeExporter opened #103 "cmake: add version number in csg/tools check"
[code]

Original issue reported on code.google.com by `christop...@gmail.com` on 20 Jun 2011 at 8:41

[2015-08-18 23:50] GoogleCodeExporter opened #104 "add support for single precision fftw"
[code]

Original issue reported on code.google.com by `christop...@gmail.com` on 29 Jun 2011 at 1:59
- Blocked on: #105

[2015-08-18 23:50] GoogleCodeExporter opened #105 "clean up correlate function"
[code]

Original issue reported on code.google.com by `christop...@gmail.com` on 29 Jun 2011 at 2:52
- Blocking: #104

[2015-08-18 23:50] GoogleCodeExporter opened #115 "add testcase for spline class"
[code]

Original issue reported on code.google.com by `christop...@gmail.com` on 11 Oct 2011 at 1:03
- Blocking: #32

[2015-08-18 23:51] GoogleCodeExporter opened #121 "csg_property: only second option is printed if path != ."
[code]

Original issue reported on code.google.com by `christop...@gmail.com` on 9 Nov 2011 at 2:53

[2015-08-18 23:51] GoogleCodeExporter opened #158 "clean up csg-tutorials"
[code]

Original issue reported on code.google.com by `christop...@gmail.com` on 29 Apr 2014 at 4:53

[2015-08-18 23:51] GoogleCodeExporter opened #159 "drop support for gromacs-4.0"
[code]

Original issue reported on code.google.com by `christop...@gmail.com` on 29 Apr 2014 at 4:55

[2015-10-06 14:37] schererc opened #168 "Automatic detection of gromacs executable names"
Via cmake detect gromacs versions

[2015-10-08 07:32] #168 closed, assigned to junghans

[2015-10-15 15:47] #159 closed, assigned to nobody

[2015-11-11 01:00] junghans opened #172 "Remove tf feature"

[2015-11-16 20:46] #172 closed, assigned to nobody

[2015-11-16 20:53] junghans commented on #61
Super project has been start: votca/buildutil@f42ec0a66c04ee4a97cec7dc3546903d18bbb48d, see the [global](https://github.com/votca/buildutil/tree/global) branch for further development!

[2015-12-15 17:31] junghans opened #177 "csg_boltzmann: --excl option is broken/not implemented anymore"
In 6991f1e4a308f23f546181fed57a70d8ba286745 the `--excl` option of `csg_boltzmann` got broken. @ruehle drafted up some come [here](https://github.com/votca/csg/commit/6991f1e4a308f23f546181fed57a70d8ba286745#diff-96f1ebad49076ca88c838cbdef42b6beR100), but it still needs some work!

@votca/csg: Should we fix it or drop the `--excl` option?

@MrTheodor: Have you used that option before?

[2015-12-18 12:44] SudharsanP commented on #177
I used it to check whether all the excluding interactions for molecules were listed or not (when I use mixtures). But other than that I don't use it for anything really.

[2015-12-23 18:13] #177 closed, assigned to nobody

[2016-05-16 22:04] junghans opened #179 "Perl on Ubuntu 16.04 does not inherit exported shell functions"
The perl behavior on Ubuntu 16.04 (perl-5.22.2-1) has changed:

[code]

In contrast in early versions (e.g. Ubuntu 14.04):

[code]

However on Fedora 23 (perl-5.22.1) and Gentoo (perl-5.22.2) it works as expected.

This was found by a user here: https://groups.google.com/d/msg/votca/MnIiwjO3iC4/ceda5If3AgAJ

[2016-05-16 22:10] junghans commented on #179
Debian upstream bug report: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=824511

[2016-05-16 22:23] shadowcat-mst commented on #179
Have you checked this isn't actually some sort of anti-shellshock-like-things mitigation in the shell rather than something specific to the perl build?

[2016-05-17 03:26] junghans commented on #179
It could well be something in bash itself, but hopefully Debian's Perl maintainer (@ntyni) will know.

[2016-05-17 17:41] junghans commented on #179
@shadowcat-mst, good guess as @ntyni point out in [#824511](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=824511#10), this actually a problem in `dash`, which is used as `/bin/sh`, the issue is already reported as https://bugs.debian.org/814358!

A workaround is:

[code]

[2016-09-08 16:49] junghans opened #185 "Bundle a version of cma.py"
cma.py is licensed under BSD, so we can include that in csg instead of having the user download it.

@nikohansen: Any concerns?

[2016-09-08 22:44] nikohansen commented on #185
No concerns whatsoever. Just FYI, recently the `cma.py` code has been thoroughly revised, in particular finally broken into submodules. The revised code will soon become available on Github.

[2016-09-22 16:10] junghans commented on #185
Thanks a lot!

[2016-09-22 16:31] junghans commented on #103
Super project has been start: votca/buildutil@f42ec0a66c04ee4a97cec7dc3546903d18bbb48d, see the [global](https://github.com/votca/buildutil/tree/global) branch for further development!

[2016-09-22 16:38] junghans commented on #103
cmake-3.0 has library interface, which might make that very easy.
https://cmake.org/cmake/help/v3.0/manual/cmake-buildsystem.7.html#interface-libraries

[2016-09-22 16:40] junghans opened #186 "Drop support for gromacs-5.0 in v1.5"

[2016-09-22 16:41] junghans commented on #158
Do that after #186.

[2016-09-22 16:47] junghans opened #187 "Merge csg-manual into csg"
Let's do the same as in xtp and merge the manual into the same repo

[2016-09-22 16:50] junghans commented on #94
html target is not needed anymore and @capoe implemented tex out put for all app, so it should be easy to get rite of txt2tags once #187 is done.

[2016-09-22 16:51] junghans opened #188 "Update ChangeLog for v1.4"

[2016-09-22 16:53] junghans opened #189 "Automatic branch selection in .travis.yml"
Something like:

[code]

[2016-09-22 16:57] junghans opened #190 "Add -Wall, but -DNDEBUG build to travis"
Currently `-Wall` is only tested for `ReleaseType=None`, but we should do a `Debug` and `Release` build as well.

[2016-09-22 17:18] junghans opened #191 "Run make_release.sh for v1.4"

[2016-09-22 17:21] #185 closed, assigned to junghans

[2016-09-22 17:21] #189 closed, assigned to junghans

[2016-09-27 13:28] junghans commented on #188
Fixed in 0af4347cf647dda66d44847b46c75b72b1a75a52

[2016-09-27 13:28] #188 closed, assigned to junghans

[2016-09-27 13:31] junghans commented on #191
Done via 0af4347cf647dda66d44847b46c75b72b1a75a52

[2016-09-27 13:31] #191 closed, assigned to nobody

[2016-09-27 13:32] junghans commented on #190
Done in 25105eee333fa21e6cc6643de10b1be22b2d72a2

[2016-09-27 13:32] #190 closed, assigned to junghans

[2016-09-27 13:46] junghans commented on #32
@symashayak : Are we using any gsl calls in `csg_re`?

[2016-09-27 16:39] symashayak commented on #32
yes, it uses gsl for

votca::tools::linalg_cholesky_solve()

On Tue, Sep 27, 2016 at 8:46 AM, Christoph Junghans <
notifications@github.com> wrote:

[2016-09-27 22:26] JensWehner commented on #32
Yeah,

but we can use a direct LAPACK call there, in tools al the gsl calls would
have to be changed.

2016-09-27 18:39 GMT+02:00 Sikandar Y. Mashayak notifications@github.com:

[2016-09-28 00:40] junghans opened #192 "Remove old cmake find modules"
Remove bundled `FindGSL.cmake` and friends.

[2016-09-30 21:40] junghans opened #193 "Make final v1.4 release"

[2016-10-18 00:20] junghans opened #194 "Remove old ibm scripts"
In some ancient version of VOTCA, _ibi_ was called _ibm_, more than 3 versions later it is time to drop these.

[2016-10-27 21:33] jkrajniak opened #195 "xmltopologyparser: improper parsing of bead lists in <bonded> terms"
The bead list in `<beads>` formated by using `\t` is not correctly parsed.

see: https://groups.google.com/forum/#!topic/votca/WAP-7Vzg8_Y

[2016-10-27 22:19] junghans commented on #195
VOTCA Tools  has a tokenizer, which should work on tabs, spaces and both kinds of endlines.

[2016-10-27 22:20] junghans commented on #195
Bug fix should go into the `stable` branch for v1.4.

[2016-10-28 20:08] #195 closed, assigned to nobody

[2016-10-31 19:34] junghans opened #198 "Add slab ibi"

[2016-11-07 15:11] #186 closed, assigned to nobody

[2016-11-10 23:17] junghans commented on #193
Fixed via bb041498f0f8ef85c7f5849a6c686eb420fe6149.

[2016-11-10 23:17] #193 closed, assigned to junghans

[2016-12-16 02:48] NickyaZhong opened #200 "CMake Error at CMakeLists.txt:136 (message): Could not find needed header - fstream"
`get_webversion: Could not fetch new version number
get_webversion: Could not fetch new version number
This is VOTCA build.sh, version 2.1.1
Install prefix is '/home/internship2/Software/VOTCA/votca-1.4'
Using 9 jobs for make/ninja
Working on tools
Source dir (tools) is already there - skipping checkout
updating git repository tools from origin/master
We are on branch master
Already up-to-date.
cm

[2016-12-16 03:27] junghans commented on #200
What compiler are you using? Can you attach your `CMakeError.log`?

[2016-12-16 05:37] junghans commented on #200
You can also use the mailing list: https://groups.google.com/forum/#!forum/votca

[2017-04-07 12:13] jkrajniak opened #206 "/bin/bash: csg_get_property: command not found"
Problem with running csg_inverse on Ubuntu 16.10 with bash 4.3.46(1) and perl v5.22.2.
I have checked csg/tools from master branch and also from the Ubuntu package. Both have the same issue. The settings.xml contains nothing fancy. https://dl.dropboxusercontent.com/u/525038/settings.xml

[code]

[2017-04-07 12:53] junghans commented on #206
Is that #179?

[2017-04-07 13:54] jkrajniak commented on #206
Ah yes, I haven't looked into issues...

Duplicate #179

[2017-04-07 13:54] #206 closed, assigned to nobody

[2017-05-02 11:07] Yuta-Yoshimoto opened #209 "Unable to install VOTCA-CSG"
Dear all,

I haven't been able to install VOTCA-CSG.
According to the error message below, it seems like gsl_linalg_QR_decomp was not found in /usr/local/lib/libgsl.so.
Then, the system failed to find mkl_boost_ublas_matrix_prod.hpp, too.
However, I confirmed via 'strings' that gsl_linalg_QR_decomp was actually included in /usr/local/lib/libgsl.so.
What should I do to handle this issue?
I would ap

[2017-05-02 15:15] junghans commented on #209
No worries, it is just a test.  Later, cmake found `gsl_linalg_QR_lssolve` in `/usr/local/lib/libgsl.so;/usr/local/lib/libgslcblas.so`, meaning on your OS gsl needs to be linked against `libgsl.so` and `ibgslcblas.so`.

@JensWehner can help with that issue, but for now try to disabling MKL by adding `-DCMAKE_DISABLE_FIND_PACKAGE_MKL=ON` to command line of `build.sh`. MKL isn't used in VOTCA-CSG, b

[2017-05-02 15:18] junghans commented on #209
And can you please check first if the problem persists in the development version: https://github.com/votca/csg/wiki/Installing#development-version

[2017-05-02 16:31] JensWehner commented on #209
My guess is, it is still the race condition. I have not yet found a way to
force to the the download of the header files before the rest of the stuff.
According to the log file this is exactly what happened.

Maybe default should be mkl off.

Cheers Jens

2017-05-02 17:18 GMT+02:00 Christoph Junghans <notifications@github.com>:

[2017-05-02 16:43] junghans commented on #209
Actually we fixed that in https://github.com/votca/tools/commit/99b8bc547a76b2afaf97d45149a8a756b5c8e775, but that patch is not part of v1.4.

Time for v1.4.1 ?

[2017-05-10 12:42] junghans commented on #209
@Yuta-Yoshimoto is it working for you now?

[2017-05-11 06:06] Yuta-Yoshimoto commented on #209
Dear Christoph and Jens,

Thank you so much for your kind comments, and sorry for my late reply.

Unfortunately, I was not able to install the latest version of VOTCA-CSG by adding -DCMAKE_DISABLE_FIND_PACKAGE_MKL=ON (see the attachment 'error01.txt').
Also, I couldn't install the development version (error02.txt), even by adding the above option (error03.txt).
There is a chance that the Boost lib

[2017-05-11 10:25] Yuta-Yoshimoto commented on #209
Dear Christoph and Jens,

I installed the latest version of the Boost libraries Ver. 1.64.0, but there are still some errors saying ‘make_array’ is not a member of ‘boost::serialization’ (error.04.txt).
Alas...

[error04.txt](https://github.com/votca/csg/files/992653/error04.txt)

Best,
Yuta

[2017-05-11 11:38] JensWehner commented on #209
Hello Yuta,

could you do it once more with boost 1.58? Boost before 1.48 apparently is
a bit fishy and the newest boost versions have problems with serialisation.
On that we have to work.

Cheers Jens

2017-05-11 12:25 GMT+02:00 Yuta Yoshimoto <notifications@github.com>:

[2017-05-11 13:17] Yuta-Yoshimoto commented on #209
Hi Jens,

Thanks to your suggestion, I was able to install VOTCA-CSG using Boost 1.58.0.
However, I had the following error message when I tried to install it using g++ compiler.
It looks like g++ compiler of my workstation is old, and doesn't include C++11 compiler.
So, I used icc 15.0.2 compiler, and was succeccful in installing VOTCA-CSG!
I hope it'll go well...

cmake -DCMAKE_INSTALL_PREFIX='/

[2017-05-11 14:09] junghans commented on #209
First of all, boost-1.64 is broken and this error has nothing to do with VOTCA, see [here](https://svn.boost.org/trac/boost/ticket/12516).

Besides a reasonable boost (1.58 is ok) you need a c++-11 compiler, so at least gcc-4.8, I think.

As an alternative, VOTCA comes with Fedora and OpenSuse, so you can just install it using dnf/zypper.

[2017-05-16 09:42] Yuta-Yoshimoto commented on #209
Dear Christoph and Jens,

I tried csg-tutorials/spce/ibi, but I couldn't run the simulation.
The error message is as follows:

# ERROR:
# run_gromacs.sh: grompp binary 'gmx' not found
# For details see the logfile /home/yyoshimoto/Desktop/ibi/spce/ibi/inverse.log

I already installed the double-presicion version of GROMACS with the binary file 'gmx_d'.
Should I install the single-precision version

[2017-05-16 10:08] schererc commented on #209
You have to change the inverse.gromacs.grompp.bin setting in the settings.xml file to the name/path of the binary (gmx_d grompp) and also the inverse.gromacs.mdrun.command setting to gmx_d mdrun, as the defaults are gmx grompp and gmx mdrun.

Best

Christoph

[2017-05-17 08:54] Yuta-Yoshimoto commented on #209
Hi Christoph,

Thank you so much for your comment.
I was able to run the IBI simulation of SPC/E water!

By the way, is it possible to output tablated 'mean force' as well as CG-CG.pot.new?
If it's not possible, I'm alright since I can evaluate the mean force from the tablated PMF.

Best,
Yuta

[2017-05-17 12:24] junghans commented on #209
Good to hear!

For the mean force, just look into `step_000` the initial guess for the potential is the potential of mean force.

[2017-05-17 12:24] #209 closed, assigned to nobody

[2017-05-24 22:57] junghans commented on #200
No response - closing!

[2017-05-24 22:57] #200 closed, assigned to junghans

[2017-06-20 17:39] schererc opened #210 "-tableb option in run_gromacs.sh"
At the moment I am cleaning up the csg tutorials. I figured out that at least with my installed Gromacs version (5.1) the option -tableb table_a1.xvg table_b1.xvg causes an error in the simulation step if I run any ibi calculation with tabulated bonded interactions (wether they are updated or not). If I run without the -tableb option it works (tables have to have the same number as in the topol.to

[2017-06-20 18:17] junghans commented on #210
I am guessing hit by:
<https://groups.google.com/forum/#!msg/votca/fGgjXpJQqmI/npxPH-2aPQAJ>

With Gromacs-2016 released on [Aug 5th 2016](https://mailman-1.sys.kth.se/pipermail/gromacs.org_gmx-users/2016-August/107718.html), please leave gromacs-5 alone as it is unsupported by upstream now.

[2017-06-21 08:00] schererc commented on #210
Ok, I should have probably known this.

So I will leave the script as it is and try with a more recent Gromacs version.

[2017-06-21 15:23] junghans commented on #210
Did it fix it?

[2017-06-26 15:28] junghans commented on #158
See votca/csg-tutorials#2.

[2017-07-21 14:38] #158 closed, assigned to nobody

[2017-07-21 14:40] junghans commented on #210
fixed?

[2017-07-21 14:42] schererc commented on #210
Yes, with the newest Gromacs version it worked with the -tableb option

Am 21.07.2017 16:40 schrieb "Christoph Junghans" <notifications@github.com>:

[2017-07-21 14:44] #210 closed, assigned to nobody

[2017-08-08 15:16] junghans opened #215 "Enable h5md by default"

[2017-08-10 13:02] #215 closed, assigned to junghans

[2017-08-11 23:34] junghans commented on #179
Over a year later and the bug in debian is still not fixed, maybe we should just change the 5 affected perl scripts (`kbibi_ramp_correction.pl`, `lj_126.pl, pressure_cor_simple.pl`,
`pressure_cor_wjk.pl` and of course `update_ibi_pot.pl`) to not call `csg_get_interaction_property()` and `csg_get_property()` anymore.

[2017-08-13 19:38] abrukhno commented on #179
Looks like it might be a bit more complicated than just csg_get_property() for kBT:
(but I certainly support the move!)

[code]

[2017-08-13 19:47] junghans commented on #179
I am on it - #218

[2017-08-14 13:28] junghans opened #220 "Add error message that bonded table don't work in gromacs-5.1.[012]"
Bonded tables worked in <gromacs-5.0* and >=gromacs-5.1.3, but the version in between are broken. Usually that happens all the time and we would advice the user to simply update gromacs. However, ubuntu ships gromacs-5.1.2, which is on the red list, so a warning to the user would be nice.

/cc @abrukhno

Refs: #210 and https://groups.google.com/forum/#!msg/votca/fGgjXpJQqmI/npxPH-2aPQAJ

[2017-08-15 12:42] #179 closed, assigned to nobody

[2017-08-15 23:47] #220 closed, assigned to junghans

[2017-08-24 01:52] junghans commented on #198
After #218 (to fix #179) porting [the old code](https://github.com/votca/csg/files/1247492/ibi_slab_update.zip) will be really hard, so closing. Sorry!

Re-open if feature is really needed.

[2017-08-24 01:52] #198 closed, assigned to junghans, mnkiefer

[2017-11-14 19:44] JoshuaSBrown opened #229 "PDB Reader Update"
Apparently pdb reader does not have the ability to read the connectivity information from .pdb files. This needs to be added.

[2017-11-14 20:25] JoshuaSBrown commented on #229
It appears that the official .pdb file format only reserve field sizes of 5 character. E.g. it might not be ideal to use the .pdb file format if you have more than 99999 atoms as the field widths are only allowed to be so large and so the CONECT key word is limited to atoms of of ids of 99999  and less.

[2017-11-14 20:37] junghans commented on #229
That is true.

[2017-11-16 17:43] JoshuaSBrown commented on #229
I would like to keep this in the support for the pdbreader, as this is a widely supported file format. It will increase portability for users, as opposed to the topology reader, which as far as I know is specific to VOTCA. Unless, we would want to develop a tool to convert several .pdb files to a single .xml file which could then be provided as an input for VOTCA?

[2017-11-16 19:39] JoshuaSBrown commented on #229
So it looks like VMD doesn't strictly follow the .pdb file format.

`Features

Can VMD load PDB files containing more than 99,999 atoms?

Yes. VMD can load a properly formatted PDB file with an arbitrary number of atoms. VMD is able to do this because it ignores the atom indices stored the PDB file itself and instead it uses its own internal numbering scheme. As long as your PDB file follows the s

[2017-11-16 19:43] JoshuaSBrown commented on #229
They load trajectories from .pdb files by using the following naming conventions. Apparently they do not have more than one frame per file.
http://www.ks.uiuc.edu/Research/vmd/script_library/scripts/animatepdbs/

[2017-11-16 19:45] junghans commented on #229
VOTCA ignores the ids as well! So that we can read more than 99999 atoms!

I guess, that is ok if atoms are in ascending order.

[2017-11-16 19:45] JoshuaSBrown commented on #229
I'm going to suggest we take a similar approach.
-tra file0.pdb
Will indicate the trajectories are started at file0.pdb and by default will parse through any other files with numbers larger than the value infront of 0.
file1.pdb, file2.pdb etc...
If you were to start at a larger value file12.pdb it would automatically search for file13.pdb and so on.

[2017-11-16 19:51] junghans commented on #229
The pdb format allow multi-frame files!

[2017-11-16 19:52] JoshuaSBrown commented on #229
Ah, I have another solution. The original .pdb format has an upgrade with the extension .pdbx. We can therefore design plugins for both scenarios. It seems that the .pdbx format is not limited to 99,999 atoms.

[2017-11-16 20:34] JoshuaSBrown commented on #229
Ok, I see the ENDMDL keyword is what is used to denote the end of a frame and the start of another. Not exactly obvious from the documentation.

[2017-11-16 20:40] JoshuaSBrown commented on #229
It might be the case that when you were originally reading .pdb files you did not need to worry about how many atoms are in the file but it becomes a problem when you read topological data using the CONECT keyword. As there are 5 columns allowed to specify the id of each bonded atom.
There are 4 ways we can proceed from here:
1. Ignore the column specifications (less rigid .pdb file format) / This

[2017-11-16 21:20] junghans commented on #229
I would go with 1. and throw a runtime error suggesting to use the xml topology reader if the pdb has more than 99999 atoms and `CONECT` in them.

On the plus side, one can always use a xml topology together with an pdb trajectory.

[2017-11-17 22:01] JoshuaSBrown commented on #229
Since .pdb files only reserve two characters for specifying the charge of an atom, it is impossible to pass partial charges through the .pdb file. It appears most people just leave this column blank. So we will default to passing a value of 0 for the partial charge.

[2017-11-25 02:24] JoshuaSBrown opened #231 "Consolidate dlpoly readers into single file"
For the sake of consistency in the design of file input readers. It makes some sense to confine the readers to a single file. Though this is not exactly a high priority.

[2017-11-25 02:24] JoshuaSBrown opened #232 "Consolidate gmx readers into single file"
For the sake of consistency in the design of file input readers. It makes some sense to confine the readers to a single file. Though this is not exactly a high priority.

[2017-11-25 02:25] JoshuaSBrown opened #233 "Consolidate mdp readers into single file."
For the sake of consistency in the design of file input readers. It makes some sense to confine the readers to a single file. Though this is not exactly a high priority.

[2017-11-25 14:21] junghans commented on #233
The mdp format is some internal format for the IMC code of  Alexander Lyubartsev. Nobody has used it recently and it is not even compiled-in anymore. Most of their users use the [MagiC package](http://www.fos.su.se/~sasha/magic/) these days.

[2017-11-25 14:26] junghans commented on #231
I am not sure how much sense that makes. The `.dlph` and `.dlpc` trajectory format has much less information in it as the `.dlpf` topology format. So there isn't much we would gain in terms of reducing code duplication.

But that is a question for @abrukhno.

[2017-11-25 14:38] junghans commented on #232
There isn't much sense the gmx topology reader wraps around `read_tpx()`, while the gmx trajectory reader wraps around `read_first_frame()`and `read_next_frame()`. So besides combining these two call for the gmx trajectory reader (see #41), there isn't much in  code duplication to fix.

However, on the plus side one could use `.tpr` as a trajectory and `.trr` as a toplogy, but I am not sure how us

[2017-11-25 16:33] JoshuaSBrown commented on #232
Hmm... yes, this is definitely not a high priority task, but I suppose the more options the user has the better. I think this is a bigger issue when you consider that some people might just want to do the charge transport simulations and don't really care to use csg for whatever reason. Then they might be stuck with some file that they have been given.
I have my first question: the flags (GMX == 5

[2017-11-25 16:40] JoshuaSBrown commented on #232
Also, do you by chance have any of the gmx file types lying around I could test on? I did not see the .trr or tpr file types in the csg tutorial but I could have missed them.

[2017-11-25 17:57] junghans commented on #232
There is a `run.sh` in most `atomistic` folder, but:
[code]
will generate a `.tpr` file and
[code]
will generate a `.trr` (or `.xtc`) trajectory.

[2017-11-25 18:07] junghans commented on #232
The `GMX` flags is the ABI version of libgromacs (formerlt `libgmx`) we are linking against. Gromacs-5.1 has `GMX=51` and Gromacs-2016 has `GMX=52`. Currently Gromacs master used `GMX=52` as well. At some point VOTCA supported `GMX=50` and `45` and `40`, but as upstream stopped supporting <=Gromacs-5.0, we removed support for these APIs, too.

`libgromacs` itself is backwards-compstible, so we can

[2017-11-25 19:21] JoshuaSBrown commented on #233
Does this mean the mdp readers are essentially deprecated, un-supported?

[2017-11-25 19:26] junghans commented on #233
Yes, I guess we should remove it!

@ruehle, any objections?

[2017-11-25 19:31] JoshuaSBrown commented on #231
Is the thumbs down, because I didn't provide an explanation?

[2017-11-25 19:32] junghans commented on #231
Let’s see what @abrukhno thinks, he wrote most of the code!

[2017-11-25 19:45] abrukhno commented on #231
Hi, sorry for a bit of delay (it's Saturday after all).
I am not sure I follow the idea. In the case of DL_POLY configuration (.dlpc) and trajectory (.dlph) formats are only slightly different (but I think reading either is combine already in one piece of code) whereas topology format is **completely** different, as it's not about configuration rather molecular structure and force-field. So what i

[2017-11-25 20:17] JoshuaSBrown commented on #231
Well my thoughts were as follows: combining the two readers in same file is more consistent with how the file readers are formatted. From the stand point of maintainability, if all the readers follow the same pattern it is easier to understand what is going on. I think the point @junghans is making is that because the readers are configured so differently (for the DL_POLY trj and top files) it wil

[2017-11-25 23:58] abrukhno commented on #231
Hi Joshua, could you please provide more detail as to how you suggest to combine the two readers? -by simply having them as separate routines in the same file, or in the same routine/function? Either way I do not see much of a benefit, only extra work and debugging. Sorry if I misunderstood you.

[2017-11-26 00:44] JoshuaSBrown commented on #231
You are right there is not much benefit. My arguments are mostly trivial, and this is a low priority issue if at all. What I'm trying to illustrate by bringing this up is that the more similar your methods are the easier it is to follow logic of the code between the different methods.

Most of the topology and trajectory readers are in the same file but this one and a few others are not. Which is

[2017-11-26 15:15] abrukhno commented on #231
By the rule of thumb "if it works and no change is necessitated, do not touch it", I would leave it as it is. :)

[2017-11-27 06:55] JoshuaSBrown commented on #231
Ok, well I guess that settles it. :)

[2017-11-27 06:55] #231 closed, assigned to nobody

[2017-11-27 17:40] junghans commented on #232
Let's leave this for a later time, e.g. the next time the gmx API changes.

[2017-11-27 17:40] #232 closed, assigned to nobody

[2017-11-27 17:40] junghans commented on #233
Ok, let's drop them!

[2017-12-09 16:37] #233 closed, assigned to nobody

[2017-12-09 21:24] #229 closed, assigned to nobody

[2017-12-21 16:33] junghans opened #237 "Drop support for gromacs-5.1"
Gromacs-5.1 reached end-of-life: https://mailman-1.sys.kth.se/pipermail/gromacs.org_gmx-developers/2017-December/009940.html

so let's remove support for it, too!

[2017-12-21 16:42] junghans commented on #237
That might be also a good point to parse `gromacs/version.h` for `GMX_VERSION`.

[2017-12-21 21:11] junghans commented on #232
In #238, I switched back from Votca's internal number (e.g. `GMX=52`) to Gromacs' native numbering (e.g. `GROMACS_VERSION=20160000`).

[2017-12-21 21:18] JoshuaSBrown commented on #232
Does this mean that gmx consolidation of the readers is on the table?

[2017-12-21 21:42] junghans commented on #232
No, but at least we follow upstream versioning scheme now!

[2017-12-26 14:58] #237 closed, assigned to nobody

[2018-03-24 19:47] JoshuaSBrown opened #243 "slack/git webhook"
Limit notifications to PRs only.
Add slack/mailing list webhook and channel.

[2018-04-04 17:08] junghans commented on #243
Done!

[2018-04-04 17:08] #243 closed, assigned to nobody

[2018-04-11 12:18] junghans opened #245 "Add check for gmx_veraion back"
To avoid mixing of different header and library versions! (see https://groups.google.com/forum/#!topic/votca-ctp/ifDrd5rTPFM/discussion)

[2018-04-13 13:06] #245 closed, assigned to junghans

[2018-07-04 18:16] junghans commented on #61
Done in new build system at https://github.com/votca/votca

[2018-07-04 18:16] #61 closed, assigned to nobody

[2018-07-04 18:17] junghans commented on #32
Switching to Eigen

[2018-07-09 02:09] #32 closed, assigned to JensWehner

[2018-07-28 18:56] JoshuaSBrown opened #259 "Topology does not set default value on _has_force"
This is may result in an uninitialized call to the hasForce method. It was found when trying to write to lammps dump file format.

@junghans  were you aware of this?

[2018-07-28 23:10] junghans commented on #259
No!

[2018-07-29 19:23] #259 closed, assigned to JoshuaSBrown

[2018-07-30 18:41] JoshuaSBrown opened #261 "Bead class has redundant methods"
Why does the bead class have vec& getVel() and vec& Vel() and vec& getPos() and vec& Pos(). Why on earth are there two methods the getVel checks a bool to see if the value is set or not but the Vel method doesn't... I don't understand what the reasoning is for this @ruehle?

[2018-07-30 23:48] ruehle commented on #261
getPos ist const, so you can use it even if bead is passed as const ref. Pos is not which allows you to change it. There is actually no reason to call them differently, but you should have 2 methods, one with const and one without.

Getvel is checked as there is not always a velocity. This depends on the trajectory. However we assume that there always must be a position.

Hope this answers your qu

[2018-07-30 23:52] ruehle commented on #261
That the vel method doesn't check could be an error. Also as vel is read/write, it is not so obvious what to do. I don't really remember. Sorry

[2018-07-31 00:28] JoshuaSBrown commented on #261
Sorry for my exasperation.

[2018-07-31 00:37] JoshuaSBrown commented on #261
It seems though that passing out a reference might completely defeat the purpose of having a boolean indicating that the instance has a defined position, velocity etc... I would think it would be safer to pass out a copy instead.

Well I guess as long as there is an assertion check to ensure the vec has been set before using the reference methods it doesn't matter.

[2018-07-31 00:47] JoshuaSBrown commented on #261
@junghans do you have any input? I would not normally care but seeing that I want to derive some classes off of this one I would like to be sure the bead class is air tight.

[2018-07-31 19:22] junghans commented on #261
I have no more information!

[2018-07-31 20:29] JoshuaSBrown opened #264 "Interaction class has ambiguous name method"
Setting the name of the interaction is completely overwritten by setting the molecule or group or index of the interaction. Furthermore, default values are not associated with these integers meaning garbage is likely to be output each time without warning if all three are not explicitly set.

[2018-08-01 04:56] JoshuaSBrown commented on #264
Addressed here: https://github.com/votca/csg/pull/265

[2018-08-04 05:14] #264 closed, assigned to JoshuaSBrown

[2018-08-07 16:39] junghans opened #267 "lammpsdatareader: Mass exceeds tolerance of match"
With `spce.data` from [here](https://github.com/votca/csg-tutorials/blob/master/spce/ibi_lammps/spce.data), I get the following error:
[code]
(found in https://github.com/votca/csg-tutorials/pull/24)

The fun part is that `spce.data` only has one mass in it.

[2018-08-07 16:44] JoshuaSBrown commented on #267
Ok

[2018-08-08 16:38] JoshuaSBrown commented on #267
Well I found the problem I assumed for some reason that all files coming from lammps would be purely atomistic for some reason no course graining. Thus when using the mass to match with an atom type it was rightly throwing an error. I will change this so that it able to distinguish between an element and a course grained molecule based on the mass.

[2018-08-13 15:37] #267 closed, assigned to JoshuaSBrown

[2018-08-16 12:33] junghans opened #272 "data reader cannot read dodecane.data"
When using `dodecane.data` from the mailing list: https://groups.google.com/d/msg/votca/FQslEpuGefo/twHPyGHIDQAJ

I get:
[code]

The error message isn't very helpful, do you know what went wrong?

[2018-08-16 16:20] JoshuaSBrown commented on #272
How nice.

[2018-08-16 18:27] JoshuaSBrown commented on #272
Fix: https://github.com/votca/csg/pull/273

[2018-08-17 07:08] #272 closed, assigned to JoshuaSBrown

[2018-09-15 03:11] #261 closed, assigned to nobody

[2018-09-26 13:43] JoshuaSBrown opened #282 "Memory issue found in csg_stat when using valgrind"

[2018-09-26 13:53] JensWehner commented on #282
details?

[2018-09-26 18:11] JoshuaSBrown commented on #282
Here the error was found to come from tools:
https://github.com/votca/tools/pull/73

[2018-10-07 23:22] JoshuaSBrown commented on #282
Two other errors were found in csg stat, they were found to be related to a failure to initialize the _time variable in the Topology class as well as inappropriate use of the tools::threads class. The Run method is only meant to be used internally and it was being called directly within csgapplication.

[2018-10-08 00:15] JoshuaSBrown commented on #282
Issues are also being addressed here: https://github.com/votca/csg/pull/283
and here: https://github.com/votca/tools/pull/80

[2018-11-01 09:39] marvinbernhardt opened #286 "get_simulation_setting does not find 'ref-t' in mdp file"
At least since Version 5.1[1] Gromacs allows the use of underscore or minus in its mdp options.
Votca only supports 'ref_t' when reading the temperature from an mdp file[2].
Therefore I get errors such as:
[code]
Since in the online documentation of Gromacs reports all options with a minus, it would be nice if Votca would allow both, minus and underscore.

1. http://manual.gromacs.org/documentatio

[2018-11-01 12:07] junghans commented on #286
Can you try in the patch if #287 helps?

[2018-11-01 17:10] marvinbernhardt commented on #286
Tested with ref-t and it works, thanks a lot :)

[2018-11-02 11:59] #286 closed, assigned to nobody

[2018-12-25 19:08] junghans opened #291 "csg_stat fails with 4 threads when using data topology"
During testing for the 1.5 release I found:
[code]
Input files:

- [traj.dump](https://github.com/votca/csg/files/2708990/traj.dump.txt)
- [spce.data](https://github.com/votca/csg/files/2708991/spce.data.txt)
- [settings.xml](https://github.com/votca/csg/files/2708993/settings.xml.txt)

Strangely enough it works with 1,2 threads, but fails with 3,4, 5 and more.

[2018-12-25 19:09] JoshuaSBrown commented on #291
Great.

[2018-12-25 19:48] junghans commented on #291
Oh and it only happens for dump reader and not gromacs reader, so my guess it is not in the thread class.

[2018-12-30 17:35] junghans opened #294 "csg_stat_angular throws std::bad_alloc"
Testing 1.5_rc1 on Fedora, I get a:
[code]

`std::bad_alloc` usually means the system ran out of heap memory, but the test system is so small that
should not be the case!

Any ideas?

[2018-12-30 17:57] junghans opened #295 "make it possible to change the default precision for regression tests via CMake"
On some archs the default tolerance of 1e-5 is a bit too small, e.g. on aarch64 we need 2e-5.

[2018-12-30 20:49] JensWehner commented on #294
hmm... maybe some runaway access. My big guess is a massive memory leak.

Valgrind will help.

[2019-01-03 06:41] #282 closed, assigned to JoshuaSBrown

[2019-01-03 07:27] JoshuaSBrown commented on #291
Running with valgrind:
valgrind csg_stat --nt 1 --options settings.xml --trj traj.dump --top spce.data
==8072== Memcheck, a memory error detector
==8072== Copyright (C) 2002-2017, and GNU GPL'd, by Julian Seward et al.
==8072== Using Valgrind-3.13.0 and LibVEX; rerun with -h for copyright info
==8072== Command: csg_stat --nt 1 --options settings.xml --trj traj.dump --top spce.data
==8072==
begin t

[2019-01-03 07:48] JoshuaSBrown commented on #291
The problem seems to be originating in csg_imc when calling fork worker. The _current_hists vector<histogramnew> is not being correctly initialized by the ForkWorker function.

[2019-01-03 07:58] JoshuaSBrown commented on #291
It looks like histogramnew is not ever being initialized. The IMC  Worker class vector<histogramnew> is exposed to the user allowing the to call clear without any memory management. The vector resize function is called to create the histograms too which is not allocating memory on the heap.

[2019-01-03 10:11] junghans commented on #282
See #294

[2019-01-03 10:52] junghans commented on #291
Maybe that triggers #294 as well?

[2019-01-03 17:25] JoshuaSBrown commented on #291
A second problem was found in tools, _nbins was being used without being initialized. This is a property in the Histogramnew, I have set a default value of 100 for the number of bins now.

[2019-01-03 18:09] JoshuaSBrown commented on #291
Memory leak found in csg topology file beadtypes are not deleted.

[2019-01-03 19:01] JoshuaSBrown commented on #291
Now I'm getting memory errors associated with the bead list class. There is definitely some memory overflow going on somewhere.

==21130==    at 0x4E6F4D1: votca::csg::BeadList::Generate(votca::csg::Topology&, std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&) (in /usr/local/lib/libvotca_csg.so.5)
==21130==    by 0x12FB17: votca::csg::Imc::BeginEvaluate(votca::

[2019-01-03 19:59] junghans commented on #291
@JoshuaSBrown, can you make a bunch PRs to stable, so that we can test this?

[2019-01-03 20:11] JoshuaSBrown commented on #291
You want me to separate out the different problems I've found?

[2019-01-03 20:12] JoshuaSBrown commented on #291
I still haven't located the main problem but it is defiantly related to the other issue you posted. valgrind still complains if you use a single thread so I don't think it is related to the thread class like you said before.

[2019-01-03 20:14] JoshuaSBrown commented on #291
@junghans @JensWehner It might also be a good idea to setup a flag for creating memory test with valgrind. They could be run using the same commands as the integration test just with valgrind prefixing them. Could be run on each of the unit tests as well.

[2019-01-03 20:32] junghans commented on #291
Tell me how to you run valgrind? And I can make it part of the CI and filter on the warnings.

[2019-01-03 20:33] JoshuaSBrown commented on #291
`valgrind csg_stat --nt 4 --options settings.xml --trj traj.dump --top spce.data`

I've just been using the files you provided.

[2019-01-03 20:33] JoshuaSBrown commented on #291
Have you used valgrind before?

[2019-01-03 20:34] junghans commented on #291
Long time ago, is a Debug build all you need? Or are there special compile flags?

[2019-01-03 20:38] JoshuaSBrown commented on #291
I'm not sure if there are special compile flags or not. I would just add it in with the ENABLE_TESTING flag. And explicitly write the tests in cmake. Though there might be a better way.

[2019-01-03 21:25] JensWehner commented on #291
valgrind does not need any flags, but if you compile it with debug symbols the output is better.

[2019-01-03 21:25] JensWehner commented on #291
I think clang tidy can do something similar

[2019-01-03 21:47] junghans commented on #291
It seems ctest has support for valgrind build in already by adding
[code]
to `CMakelists.txt` and then run `ctest -D ExperimentalMemCheck` instead of `make test` (or `make test ARGS="-D ExperimentalMemCheck"` would work as well).

[2019-01-03 22:21] JensWehner commented on #291
uih okay that is cool.

[2019-01-03 22:22] JoshuaSBrown commented on #291
Nice.

[2019-01-04 00:30] JoshuaSBrown commented on #291
I fixed the beadlist error this was a result of a switching the BeadType to unique_ptr, I was returning a reference to the bead type using  *(beadtype[index]) instead of *(beadtype[index]->get()) which is needed for unique pointers.

However, I'm still dealing with the problem with Histogram.Clear() crashing which I have been unable to identify why.

[2019-01-04 00:58] JensWehner commented on #291
good catch. What is the exact problem with the histogram crash?

Have you tried compiling with the -g option and rerun the test. That gives you the exact line number, which might help.

[2019-01-04 01:19] JoshuaSBrown commented on #291
@JensWehner thanks I'll give it a try. Well histogramnew calls a Clear function where it resets internal eigenvectors of the two internal tables stored in it. If I comment out the resetting part it runs through to the end, but if I don't it crashes. However, I'm not convinced this is where the real problem is. I have a feeling something else is causing the problem. The multi threading component he

[2019-01-04 05:05] JoshuaSBrown commented on #291
[Bug - memory management of vector of histogramnew](https://github.com/votca/csg/compare/bug-fix-histogram-vector?expand=1)
[Bug - memory leak of BeadType](https://github.com/votca/csg/compare/bug-beadtype-memory-leak?expand=1)
[Bug - unintialized variable in tools](https://github.com/votca/tools/compare/bug-uninitialized-nbins-in-histogramnew?expand=1)

So it is weird that fixing these memory lea

[2019-01-04 05:16] JoshuaSBrown commented on #291
I'm going to have to refactor csg_stat and csg_stat_imc to find this bug, unless someone else wants to give it a try. Trying to solve the problem on a different architecture might provide better clues as to where the problem is originating from.

[2019-01-04 11:48] JensWehner commented on #291
Concerning your second last post. I am not sure what your fixes should accomplish. Why the unique pointers? I think making stuff private is good, but why use unique pointers here they add nothing to thread safety.

Looking at csg stat. I agree, there is soo many pointers, I do not know how to fix it.

[2019-01-04 12:42] JensWehner commented on #294
how do I execute this test on its own?

[2019-01-04 14:10] junghans commented on #294
`ctest -R Run_csg_stat_angular`

[2019-01-04 14:53] JensWehner commented on #294
is this fixed?

[2019-01-04 15:29] junghans commented on #294
@jens, I don't think so.

[2019-01-04 15:56] JoshuaSBrown commented on #291
@JensWehner You just exposed a flaw in my understanding, for some reason I thought if you allocated memory from an object or datastructure on the stack and placed it in a vector, when it goes out of scope it becomes undefined. I'll have to refactor the the two branches that make use of unique_ptrs now. Good catch.

[2019-01-04 16:04] JensWehner commented on #291
So as I understand it.

`std:.vector` puts basiscally an array on the heap. A dynamic structure e.g. `Eigen::VectorXd`, `Eigen::MatrixXd` does basically the same. So a `std::vector<Eigen::Matrix>` on the stack is actually of size 2 (size of array and pointer to data)

The heap data is also just an array of `Eigen::MatrixXd`, each matrix also has roughly size 2,(size and pointer to data).

Using `s

[2019-01-04 16:07] JoshuaSBrown commented on #291
Thanks for the clarity. Well that makes sense. In hindsite this means that the supposed bug I found with histogramnew is not a bug at all.

[2019-01-04 16:09] JensWehner commented on #291
Took me a while to understand. The making it private part was definitely useful.

[2019-01-04 16:18] junghans commented on #192
https://github.com/votca/csg/pull/252

[2019-01-04 16:18] #192 closed, assigned to nobody

[2019-01-04 16:23] JensWehner commented on #291
==9285==    by 0x51CDBE0: votca::tools::HistogramNew::Clear() (histogramnew.cc:137)
==9285==    by 0x429E68: votca::csg::Imc::Worker::DoNonbonded(votca::csg::Topology*) (csg_stat_imc.cc:266)
==9285==    by 0x42B886: votca::csg::Imc::Worker::EvalConfiguration(votca::csg::Topology*, votca::csg::Topology*) (csg_stat_imc.cc:218)
==9285==    by 0x4E98919: votca::csg::CsgApplication::ProcessData(votca::

[2019-01-07 11:35] JensWehner commented on #291
Is this fixed now? @junghans

[2019-01-07 16:17] junghans commented on #291
@JensWehner lets me test!

[2019-01-07 16:56] junghans commented on #291
Fixed by votca/tools#90!

[2019-01-07 16:56] #291 closed, assigned to ruehle, JoshuaSBrown

[2019-01-07 20:17] junghans commented on #294
Seems to be fixed by votca/tools#90

[2019-01-07 20:17] #294 closed, assigned to junghans, ruehle, JoshuaSBrown, JensWehner, schererc

[2019-01-08 18:22] junghans opened #302 "csg_stat: Topology does not have beads of type "ME""
After merging #298, I get the following error in when running the `methanol-water_X_0.062_simplex` repression test:
[code]

[2019-01-08 18:43] JoshuaSBrown commented on #302
Um, how do you create the .xtc file?

[2019-01-08 18:59] junghans commented on #302
Just use `conf.gro` instead of `traj.xtc`. `topol.tpr` can be created by running `gmx grompp`.

[2019-01-10 21:14] JoshuaSBrown opened #305 "Refactor Beadtype"
The GetOrCreateBeadType method in the topology class is ambiguous. Given that there should only exist a set number of beadtypes careful consideration should be made when creating them. As it might be possible that two topology classes create their own bead types, if one of the topology classes is temporary any beads pointing to the beadtypes stored in that class will lead to undefined behavior. It

[2019-01-10 21:53] JoshuaSBrown commented on #305
The pull request here: https://github.com/votca/csg/pull/303
should fix the seg faults but it does not account for correct treatement of the beadtype in all circumstances. For instance if the topology object is copied.

[2019-01-11 11:44] JensWehner commented on #305
I think the problem i, it is not clear who owns what. I think the best solution would be to make clear, who owns which data and than write good copy constructors for it.

[2019-01-11 11:50] JensWehner commented on #305
Maybe rename stuff that does not hold ownership to x_view e.g. molecule to molecule_view

[2019-01-11 11:53] JensWehner commented on #305
Looking around in the code I see a lot more `new ` than `delete`

[2019-01-27 15:03] junghans opened #313 "Compare_csg_fmatch_3body_output1 fails on i586"
Building v1.5_rc3 on i586 for openSUSE, I get:
[code]
1e+12 vs 2 seems like a pretty big difference. It works on x86_64 though.

@schererc, you added that feature so please have a look.

[2019-01-28 21:30] junghans commented on #302
Fixed in #305

[2019-01-28 21:30] #302 closed, assigned to JoshuaSBrown

[2019-01-28 21:31] junghans opened #316 "Add Own gromacs build to gitlab CI"

[2019-01-29 13:27] JensWehner opened #319 "beadmotifalgorithms_test fails on ubuntu 16.04 +icc 19"
[code]

[2019-01-29 17:17] JoshuaSBrown commented on #319
I don't get any errors with this. Ubuntu with gcc

[2019-01-29 17:23] JensWehner commented on #319
so it is either a compiler problem or you rely on the gcc/clang implementation specific behaviour.

and it also means that I am on my own....

[2019-01-29 17:43] JoshuaSBrown commented on #319
I'm also unable to reproduce this on fedora.

[2019-01-29 21:20] JensWehner commented on #319
I have the same problem on gcc with linux 16.04

[2019-01-29 21:23] JoshuaSBrown commented on #319
Have you tried a git --hard reset on tools and csg? Just brainstorming.

[2019-01-29 22:08] JensWehner commented on #319
I completely reinstalled votca. Same error.

[2019-01-29 22:08] JoshuaSBrown commented on #319
OMG

[2019-01-29 22:09] JoshuaSBrown commented on #319
What compile flags are you using? not that it should make a difference? What version of gcc did you previously use?

[2019-01-30 13:42] JensWehner commented on #319
decoupleIsolatedSubGraphs seems to be the problem. a) it is not tested b) I do not understand it at all c) elements are removed from a list, that is iterated over, which I guess is the problem.

[2019-01-30 13:52] JoshuaSBrown commented on #319
I did not realize I did not have a test for this. How about I add some tests and some better commenting for it that might help you.

[2019-01-30 14:02] JensWehner commented on #319
Yes would be nice, but I guess also introducing more functions for the intermediate steps would help

[2019-01-30 14:03] JensWehner commented on #319
Why do yo not make it a member function of the graph object?

[2019-01-30 20:11] #319 closed, assigned to JoshuaSBrown

[2019-02-01 00:48] JoshuaSBrown commented on #305
This is being handled in this branch:
https://github.com/votca/csg/tree/joshs-development

[2019-02-02 15:19] junghans opened #326 "unit_test_lammpsdumpreaderwriter fails on epel7 with ppc64le only"
[code]

It seems there is always a sign too much, e.g. `2.88232` vs. `-2.88232`.

Details [here](https://github.com/votca/csg/files/2824542/build_epel7_ppc64le.txt)

[2019-02-03 11:13] JensWehner commented on #326
okay, this is weird

[2019-02-03 16:04] JoshuaSBrown commented on #326
That is really weird.

[2019-02-04 15:07] JensWehner commented on #326
is lammps a binary format?

[2019-02-04 15:08] JensWehner commented on #326
does anybody know what kind of architecture this is?

[2019-02-04 15:08] junghans commented on #326
No, it is text!

[2019-02-04 15:29] JoshuaSBrown commented on #326
Is this from a run on git lab or did a user report it? I'm not sure how to reproduce this?

[2019-02-04 15:42] junghans commented on #326
This cake out during build of the packages on Fedora!

[2019-02-04 22:16] junghans commented on #326
@JoshuaSBrown @jens the gcc compile farm has some ppc64le machines, but they might not be at the same OS package level!

I was able to reproduce this on copr:
https://copr.fedorainfracloud.org/coprs/junghans/votca/build/854269/
if you click on  "epel-7-ppc64le", you will see all the stuff there.

To trigger and new build just modify https://github.com/votca/fedora-copr/blob/master/votca.spec
You c

[2019-02-04 22:21] JoshuaSBrown commented on #326
Is this with the stable or master branch?

[2019-02-04 22:24] junghans commented on #326
it builds from the 1.5 tarballs!

[2019-02-04 22:37] JoshuaSBrown commented on #326
This is a little overwhelming. I can write shell commands in the check block?

[2019-02-04 22:47] junghans commented on #326
Yes, you can write whatever code you want there!

There are two caveats though, 1.) the program needs to be installed, so you might need to add a `BuildRequires:` line for valgrind  etc. 2.) rpmbuild will stop on the first error, so if you want to run multiple commands, one which might fail do something like:
[code]

[2019-02-05 00:29] JoshuaSBrown commented on #326
@junghans Can you find an easier bug to fix? This one sucks.

[2019-02-05 01:02] junghans commented on #326
No really, I don't have an ppc64le machine.....

[2019-02-05 22:24] JoshuaSBrown commented on #326
I'm downloading an iso for the ppc64le crap. That will be easier than going through copr.

[2019-02-05 23:52] JoshuaSBrown commented on #326
Turns out ppc64le is not compatible with virtual box.

[2019-02-06 00:42] junghans commented on #326
I currently looking into qemu!

[2019-02-06 16:35] junghans commented on #326
Actually on Fedora, install `mock`
[code]
set it up for your user:
[code]
then setup an `epel7` for `ppc64le` environment:
[code]
Now you need to make the VOTCA srpm
[code]
and then build it in `mock`:
[code]
it will fail of course, but then you can go in to debug:
[code]

[2019-02-06 18:13] JoshuaSBrown commented on #326
So of course this didn't work when I did it. I had to add the following two lines at the beginning:

[code]

[2019-02-06 18:36] JoshuaSBrown commented on #326
and don't forget another soft dependency:

    dnf install dnf-utils

[2019-02-06 19:02] JoshuaSBrown commented on #326
Now I'm getting this:

[code]

[2019-02-06 19:08] JoshuaSBrown commented on #326
I know that this is supposed to fail but I'm pretty sure it's not here that it is supposed to fail.

[2019-02-06 21:00] junghans commented on #326
Can you add `--dnf` as an option?

[2019-02-06 22:04] JoshuaSBrown commented on #326
It would be that easy... I spent all morning trying to get this thing to work. mock --help thats really all I had to do. Though it's not immediately obvious that no package manger would be automatically used.

[2019-02-06 23:17] junghans commented on #326
The default is `--yum` for epel7, but for some reason that doesn't work if you are on a newer version of fedora...

[2019-02-07 01:41] JoshuaSBrown commented on #326
Need to temporarily add a text editor to votca.spec to actually make this useful before calling:
[code]
Add line:
[code]

[2019-02-07 02:37] junghans commented on #326
I think `mock ... --install vim` does the same!

[2019-02-07 05:28] JoshuaSBrown commented on #326
I found the problem, it is boost::lexical_cast<double> that is the problem it fails to preserve the sign. stod however does work. Unless there is a reason to avoid stod?

[2019-02-07 05:33] JoshuaSBrown commented on #326
@junghans do you think we should report this to boost?

[2019-02-07 07:18] JoshuaSBrown commented on #326
Fix:
[tools-stable](https://github.com/votca/tools/pull/107)
[csg-stable](https://github.com/votca/csg/pull/331)
[csgapps-stable](https://github.com/votca/csgapps/pull/21)
[ctp-stable](https://github.com/votca/ctp/pull/114)
[xtp-stable](https://github.com/votca/xtp/pull/232)
[votca-stable](https://github.com/votca/votca/pull/120)

[2019-02-07 10:58] JensWehner commented on #326
Wow thank you guys, :)

[2019-02-08 00:32] #316 closed, assigned to junghans

[2019-02-08 00:32] junghans commented on #326
Confirmed it is fixed!

[2019-02-08 00:51] JoshuaSBrown commented on #326
Yay!

[2019-02-08 01:37] junghans commented on #326
Now you can have a look at https://github.com/votca/xtp/issues/227 ;-)

[2019-02-08 03:39] junghans commented on #326
It is only old versions, so let's ignore that!

[2019-02-08 03:39] #326 closed, assigned to JoshuaSBrown, JensWehner

[2019-02-25 18:53] #305 closed, assigned to nobody

[2019-02-26 02:44] #295 closed, assigned to junghans

[2019-02-26 02:47] junghans commented on #104
FFTW in double precision is more common now, so closing as won't fix.

[2019-02-26 02:47] #104 closed, assigned to nobody

[2019-02-26 02:49] junghans commented on #187
Maybe not!

[2019-02-26 02:49] #187 closed, assigned to nobody

[2019-04-02 14:18] AditiKhot opened #361 "Reads incorrect (open) boundary conditions when using H5MD trajectory file"
Hi,

I tried coarse-graining the atomistic trajectory. But votca uses open boundary conditions instead of periodic boundary conditions.
I run the command:
[code]
Please find the files attached.
[votca_issue.zip](https://github.com/votca/csg/files/3034324/votca_issue.zip)

Thanks,
Aditi.

[2019-04-02 14:55] junghans commented on #361
@jkrajniak using `csg_dump --top topology.xml` gives the right boundary conditions, so it seems the `h5md` reader resets the boundary conditions.

[2019-04-02 15:06] JensWehner commented on #361
[code]

[2019-04-02 15:37] junghans commented on #361
So the trajectory reader overwrite the box of the topology reader, which is intended this way to allow trajectories with changing boxes, e.g. npt.

But I guess the crux is:
[code]

[2019-04-02 21:17] jkrajniak commented on #361
yeah, looking into the code, it looks like I did not finish changing the box dynamically for, e.g. npt;

[2019-04-05 03:17] tdthatcher commented on #179
This bug seems to still persist in the ubuntu 18.04 package, votca-csg/bionic 1.4.1-1build1, but it looks like it's fixed in the 1.5 release in 19.04. Are there any plans for an 18.04 stable-release-update to the package to fix this? Otherwise, that leaves the 18.04 package fundamentally flawed...

[2019-04-05 12:59] junghans commented on #179
Please ask the Ubuntu package maintainer to bump the version in 18.04, otherwise, `sudo ln -fs bash /bin/sh`.

[2019-04-05 16:05] tdthatcher commented on #179
Thanks for the reply. That workaround isn't something viable in my environment, so I'll get ahold of the package maintainers.

[2019-04-09 21:26] #361 closed, assigned to jkrajniak

[2019-04-10 15:22] AditiKhot commented on #361
Hi,

I tested the latest scripts. It reads the boundary conditions correctly.
Thank you for your help!

Thanks,
Aditi.

On Tue, Apr 9, 2019 at 5:26 PM Jens <notifications@github.com> wrote:

--
Aditi Khot,
Dual Degree Final Year,
Chemical Engineering,
Indian Institute of Technology, Madras.

[2019-04-17 12:41] junghans opened #369 "xmltopology reader counts residues starting with 2 for the 2nd molecule"
From https://groups.google.com/d/msg/votca/xzuifTrkEm4/e2STRdI7DAAJ:
[code]
with this [lammpsTopology.xml](https://github.com/votca/csg/files/3089600/lammpsTopology.xml.txt). The name should be `1:Pt:H461`.

[2019-04-17 12:51] junghans opened #370 "LAMMPS data reader has a problem with comments and title lines"
From https://groups.google.com/d/msg/votca/xzuifTrkEm4/e2STRdI7DAAJ with [lammpsTopology.xml](https://github.com/votca/csg/files/3089620/lammpsTopology.xml.txt), [cg_mapping.xml](https://github.com/votca/csg/files/3089622/cg_mapping.xml.txt), [pt_mapping.xml](https://github.com/votca/csg/files/3089624/pt_mapping.xml.txt), [settings.xml.txt](https://github.com/votca/csg/files/3089625/settings.xml.t

[2019-05-01 03:03] JoshuaSBrown commented on #370
Will take a look, just now seeing this.

[2019-06-24 16:27] JoshuaSBrown opened #382 "Out of bounds error in csg_reupdate"
https://github.com/votca/csg/blob/dd97ff3601c415706cd7468983f379105fd550cb/src/tools/csg_reupdate.cc#L691-L699

[2019-06-24 17:27] junghans commented on #382
@symashayak can you have a look please?

[2019-06-24 23:12] JoshuaSBrown commented on #382
My guess is that, this is what was meant:

     for (int i = dist.size() - 2; i > 0; i--) {
         if (dist.y(i) < 1.0e-4) {
             new_min = dist.x(i + 1);
             break;
          }
      }

[2019-06-30 04:42] JoshuaSBrown commented on #382
@symashayak ping

[2019-06-30 06:32] symashayak commented on #382
Not sure what is the error. Original loop bounds look good to me. Where are you seeing this error?

[2019-06-30 15:28] JoshuaSBrown commented on #382
The first iteration was calling

 new_min = dist.x(dist.size);

which is an out of bounds error.

[2019-07-01 03:08] symashayak commented on #382
Ok. I understand. This would happen when RDF (dist) is zero very close to
the cut-off distance.Wouldn't it be unrealistic to have an RDF value ~zero
close to the cut-off distance? In any case, to avoid this out of bounds
error, your solution of changing loop begin bound from  i = dist.size() - 1
to  i = dist.size() - 2 should work. However, in such rare case, even if we
avoid out of bounds error,

[2019-07-01 03:37] JoshuaSBrown commented on #382
@symashayak thanks for the clarification, I just needed to know that the code fix I was proposing wasn't going to break anything.

[2019-08-04 12:43] junghans opened #387 "Build with gromacs master is broken"
[code]

[2019-08-04 12:52] junghans commented on #387
@mabraham @acmnpv, just including ` gromacs/math/vectypes.h` seems to trigger:
[code]
which is gone by including `gromacs/trajectory/trajectoryframe.h`  see https://github.com/votca/csg/blob/master/src/libcsg/modules/io/gmxtrajectoryreader.h#L30

Any ideas?

[2019-08-04 20:19] mabraham commented on #387
Hi,

We introduced such a helper recently, but since we don't have a proper API,
the self-contained status of headers isn't tested. Clearly that header
needs that dependency satisfied, which we should fix in master.

Mark

On Sun., 4 Aug. 2019, 15:52 Christoph Junghans, <notifications@github.com>
wrote:

[2019-08-05 02:59] junghans commented on #387
@mabraham thanks! I will keep an eye open for the fix.

@JoshuaSBrown in the meanwhile we should mark the builds against gcc master as allow to fail.

[2019-08-05 03:01] JoshuaSBrown commented on #387
What about the merge with stable that is failing for similar reasons?

[2019-08-11 05:35] jkrajniak opened #391 "Build from branch stable with GMX 2018 failes"
I've try to build votca-csg from `stable` branch but it failes with the following message:

[code]

GROMACS: 2018.7
Compiler: Intel 18.0.1.2017018
Boost: 1.68

[2019-08-11 05:54] JoshuaSBrown commented on #391
You might have more success with clang, or gcc. What cmake flags did you use?

[2019-08-11 12:30] junghans commented on #391
The build with gmx2018 passes in the CI:
https://gitlab.com/votca/votca/-/jobs/270053456

I thought https://github.com/votca/csg/commit/5963e51809d1b33131c0ee1f5042ad0734834f65#diff-6ec9b941bc3f09d6b331595a497e55e5 had fixed that issue.

[2019-08-20 21:43] JensWehner opened #399 "FMatch gets different results in development"

[2019-08-20 21:45] JensWehner opened #400 "Espresso test in dev branch fails in espresso"
regression_spce_ibi_espresso

[2019-08-20 21:46] JensWehner opened #401 "Regression LAMMPS test in dev fail"
On ubuntu it cannot find the executable name "lammps" as it is looking for "lmp". So no test starts

[2019-08-21 04:54] JoshuaSBrown commented on #401
Can you provide more of a description? Which pull request are you having trouble with?

[2019-08-22 00:04] JoshuaSBrown commented on #401
@JensWehner I think the reason the tests were failing is because the pull request in csg-tutorials was never merged.

https://github.com/votca/csg-tutorials/pull/49

well at least it passes on travis.

[2019-08-22 15:08] junghans commented on #401
Good point I still want to check if why the realtime example gave such strange results.

[2019-08-22 19:46] junghans commented on #399
For https://github.com/votca/votca/pull/175

[2019-08-22 19:47] junghans commented on #400
https://github.com/votca/votca/pull/175

[2019-08-22 19:47] junghans commented on #401
for https://github.com/votca/votca/pull/175

[2019-08-23 16:47] junghans commented on #400
Get run and passed again in https://gitlab.com/votca/votca/-/jobs/278290703

[2019-08-23 22:33] junghans commented on #401
I reactived the lammps test in https://github.com/votca/csg-tutorials/commit/80bc6581471a744b85a5ae108e9585386a01398b and fixed the units in https://github.com/votca/csg-tutorials/commit/d861b41da7044b63823605353580b9622b78f0cf, but the `re_lammps` still have unclear units to me.

[2019-08-23 22:39] junghans commented on #401
`csg_reupdate` reads `kBT` in https://github.com/votca/csg/blob/master/src/tools/csg_reupdate.cc#L180, so energy scale should be right and length scale is already.

@symashayak do I miss anything here?

[2019-08-25 00:14] junghans commented on #399
@JensWehner can you have a look at this?

[2019-08-25 08:14] JensWehner commented on #399
@junghans I am on holiday for the next two weeks. Afterwards okay?

[2019-08-25 22:59] junghans commented on #399
Sure, no worries.

[2019-09-03 01:05] junghans commented on #400
Seems to happen on Rawhide only.

[2019-09-03 17:34] junghans commented on #400
Looking at `inverse.log` on Rawhide it says:
[code]

Or something is wrong with the h5md backend in espresso.

@jkrajniak any idea?

[2019-09-03 17:37] junghans commented on #400
Looking at https://kojipkgs.fedoraproject.org//packages/espresso/4.0.2/6.fc32/data/logs/x86_64/build.log:
[code]
so Espresso got compiled with hdf5 enabled.

[2019-09-03 17:38] junghans commented on #400
But:
[code]
so that might be it.

[2019-09-03 20:10] junghans commented on #400
Ok I think the rpm missed a:
[code]
will fix that in rawhide.

[2019-09-03 21:39] junghans commented on #400
https://koji.fedoraproject.org/koji/taskinfo?taskID=37445736

[2019-09-04 16:59] junghans commented on #400
Hmm, the new rawhide misses MDAnalysis, which Espresso needs.

[2019-09-09 15:25] junghans commented on #401
Did you fix that in 7f81b80d5?

[2019-09-09 15:28] JensWehner commented on #401
okay it works

[2019-09-11 09:55] JensWehner commented on #399
So the fmatch discrepancies come from the different accuracy of the read in trajectories.

The old trajectories had 9 digits for forces
The new ones have 6
Due to the unit conversion I could not exactly reproduce that. But with 9 digits precision in the forces I got changes of the same magnitude as shown before.

I cannot completely rule out, that fmatch was changed, but I think that the differenc

[2019-09-11 14:17] junghans commented on #399
Can we update our test case to use 9 digits for the forces?

[2019-09-11 14:56] junghans commented on #401
@JensWehner @JoshuaSBrown was the realtime example now working?

[2019-09-11 15:07] JensWehner commented on #401
on my machine yes

[2019-09-11 15:07] junghans commented on #401
Thanks!

[2019-09-11 15:07] #401 closed, assigned to junghans, JoshuaSBrown

[2019-09-11 15:14] JensWehner commented on #399
https://github.com/votca/csg/compare/152f360bd762...58e70a1218a8

[2019-09-11 18:55] JensWehner opened #493 "regression_spce_cma_simple fails"
https://travis-ci.org/votca/votca/jobs/583724080

[2019-09-11 22:03] junghans commented on #493
The test is just flaky.

[2019-09-13 14:49] junghans commented on #399
Fixed

[2019-09-13 14:49] #399 closed, assigned to junghans, JoshuaSBrown, JensWehner

[2019-09-13 14:50] junghans commented on #387
Is now allowed to fail.

[2019-09-13 14:50] #387 closed, assigned to JoshuaSBrown, JensWehner

[2019-09-13 14:51] junghans commented on #382
Fixed in 75a2ad62744893bb07f1fa4538cd8df85a93433d

[2019-09-13 14:51] #382 closed, assigned to symashayak

[2019-09-13 14:54] junghans opened #404 "Allow scale on y value in potential tables"
Add an option similar to `<scale>`to allow for scaling of the y-value in a table, so that we can make the units in the xml consistent.

[2019-09-18 00:00] junghans opened #407 "refactor imc solve"
Inside the scripts it calls:
[code]

which reads `CG-CG.packed.gmc` and `CG-CG.packed.imc` and writes results to `CG-CG.packed.sol`.

Example files from SPCE tutorials:
[CG-CG.packed.gmc](https://github.com/votca/csg/files/3623838/CG-CG.packed.gmc.txt)
[CG-CG.packed.imc](https://github.com/votca/csg/files/3623839/CG-CG.packed.imc.txt)
[CG-CG.packed.sol](https://github.com/votca/csg/files/3623840/C

[2019-09-19 13:57] junghans commented on #407
More realistic input:
[CG-CG.packed.gmc](https://github.com/votca/csg/files/3631584/CG-CG.packed.gmc.txt)
[CG-CG.packed.imc](https://github.com/votca/csg/files/3631585/CG-CG.packed.imc.txt)
[CG-CG.packed.sol](https://github.com/votca/csg/files/3631587/CG-CG.packed.sol.txt)

[2019-09-20 13:26] junghans commented on #407
Unpacked inputs:
[CG-CG.gmc](https://github.com/votca/csg/files/3636121/CG-CG.gmc.txt)
[CG-CG.idx](https://github.com/votca/csg/files/3636122/CG-CG.idx.txt)
[CG-CG.imc](https://github.com/votca/csg/files/3636124/CG-CG.imc.txt)

[2019-09-20 16:17] junghans opened #412 "csg_dump cannot read pdb"
From https://groups.google.com/d/msg/votca/ldn3dPtJ9Lg/f0XKIrWDBAAJ
[code]

With [viton4_10_20_pcff_1.data.mapx.new_v5.pdb](https://github.com/votca/csg/files/3636838/viton4_10_20_pcff_1.data.mapx.new_v5.pdb.txt)

[2019-09-20 16:45] junghans commented on #407
[CG-CG.dpot.imc](https://github.com/votca/csg/files/3636922/CG-CG.dpot.imc.txt)
[CG-CG.gmc](https://github.com/votca/csg/files/3636924/CG-CG.gmc.txt)
[CG-CG.idx](https://github.com/votca/csg/files/3636926/CG-CG.idx.txt)
[CG-CG.imc](https://github.com/votca/csg/files/3636927/CG-CG.imc.txt)
[CG-CG.packed.gmc](https://github.com/votca/csg/files/3636929/CG-CG.packed.gmc.txt)
[CG-CG.packed.idx](https:/

[2019-09-20 17:09] junghans opened #413 "imc: second regularization factor gets ignored"
The problem is that `<reg>` is a per-interaction property, while for solver we loop over imc groups, which don't necessarily have to be the same.

We need to change <reg> to be a imc group property, e.g. looking in `cg.inverse.imc.regularization.<group_name>`.

[2019-09-20 17:15] JensWehner commented on #407
all the packed stuff is intermediate stuff? So we go from

CG-CG.gmc
CG-CG.idx -> CG-CG.dpot.imc
CG-CG.imc

?

[2019-09-20 18:05] junghans commented on #407
Yes

[2019-09-20 19:14] JensWehner commented on #407
But the potential solve and then unpack can be executed more than once for different pairs? That is also the part with the regularisation parameter?

[2019-09-21 00:56] junghans commented on #407
Yes, It is done for each IMC group. But solve and unpack are only done once for each group.

[2019-09-21 22:59] junghans commented on #407
@DRosen285 any comments?

[2019-09-21 23:06] #369 closed, assigned to jkrajniak

[2019-09-22 14:16] junghans commented on #412
Apparently we read the atomtype from the wrong column, see: https://groups.google.com/d/msg/votca/ldn3dPtJ9Lg/ahMJdqElBQAJ

[2019-09-22 20:45] junghans opened #414 "Manpage conversion fails with rednotebook's version of txt2tags"
[code]
even though the t2t file is pretty simple: https://github.com/votca/csg/blob/master/share/man/votca-csg.t2t

[2019-09-23 01:09] junghans commented on #414
@jendrikseipp any ideas?

[2019-09-23 01:26] junghans commented on #414
It seems that version https://github.com/nvdajp/txt2tags works for us.

[2019-09-23 02:09] junghans commented on #414
@jendrikseipp works with python-3.7.4, but not 3.8.0b3, which is used on Rawhide.

[2019-09-23 10:19] jendrikseipp commented on #414
Thanks for the heads-up, this is now fixed in the RedNotebook repo.

[2019-09-23 15:07] junghans commented on #414
@jendrikseipp thanks for the quick fix. I will bump it in our container and see if it works!

[2019-09-25 22:39] junghans commented on #412
@JensWehner can you have a look at this?

[2019-09-25 23:47] #413 closed, assigned to junghans

[2019-09-26 04:06] junghans opened #418 "imc tests hang on csg_repack"
If you run the IMC tutorials they hang in `csg_imcrepack` using https://github.com/votca/votca/pull/191:
[code]

`csg_imcrepack` was only touched in 16e43ee22a497122854ed7de2a6171528163b23b, if I revert that commit it fails on the unpack after running `csg_imc_solve` with:
[code]

[2019-09-26 04:39] junghans commented on #418
And this problems persists even before #411 (e.g. with ecad9be9c00bedc67b5145d15b515306365de641 and votca/csg-tutorials@9e75a8e237aa8a15a688545cdfd0c4b8f90d91f3)

However the spce/imc (`ctest -V -R spce_imc`) passes.

[2019-09-26 04:45] junghans commented on #418
Semi-good news, using  votca/votca#191 and reverting 16e43ee (`git revert 16e43ee`), I get the spce/imc to pass. So there are two bugs, one in 16e43ee and another one in the LJ example I still have to track down.

[2019-09-26 04:58] DRosen285 commented on #418
The .packed.imc files look weird for the LJ example. It seems that single lines are getting written multiple times. In my case the same line gets written 60 times,.

[2019-09-26 05:16] junghans commented on #418
Another semi-good news, with `v1.5` the `LJ` example still works, the call sequence is something like:
[code]
The input and outfiles for a very short run with 5000 md steps are:
[group_1.gmc](https://github.com/votca/csg/files/3655994/group_1.gmc.txt)
[group_1.idx](https://github.com/votca/csg/files/3655997/group_1.idx.txt)
[group_1.imc](https://github.com/votca/csg/files/3655999/group_1.imc.txt)

[2019-09-26 08:35] JensWehner commented on #418
Can you tell me where and what I can do?

[2019-09-26 11:24] junghans commented on #418
[code]

Are the files are inside the build directory and then `csg-tutorials/spce/imc/step_001`.

[2019-09-26 11:52] junghans commented on #418
@JensWehner with
[code]
`csg_imcrepack` will work, but then `csg_imc_solve` will hang.

[2019-09-28 15:03] junghans opened #421 "export a property that list all programs"
To be used by csg-manual

[2019-09-28 23:40] #391 closed, assigned to nobody

[2019-09-28 23:41] #400 closed, assigned to nobody

[2019-09-28 23:42] junghans commented on #407
Done in #411

[2019-09-28 23:42] #407 closed, assigned to JensWehner

[2019-09-29 11:58] #421 closed, assigned to nobody

[2019-09-30 20:38] junghans commented on #414
I had to do some minor backslash tweak, but it seems good to go now.

[2019-09-30 20:38] #414 closed, assigned to nobody

[2019-10-02 19:59] #418 closed, assigned to JensWehner

[2019-10-02 20:40] JoshuaSBrown commented on #412
@junghans does this need to be fixed in development of stable?

[2019-10-02 20:58] junghans commented on #412
I would fix it in stable if possible.

[2019-10-03 02:56] #412 closed, assigned to JoshuaSBrown, JensWehner

[2019-10-03 16:55] #370 closed, assigned to JoshuaSBrown

[2019-10-03 20:59] junghans opened #427 "Use cma module provided by python"
Once https://bodhi.fedoraproject.org/updates/FEDORA-2019-fcce755e99 goes in and Fedora 31 is our main testing plattform, we should use unbundle cma.py.

Related to #426, #185 and https://github.com/votca/csg-tutorials/issues/4

[2019-10-05 12:05] #404 closed, assigned to junghans

[2019-10-07 04:44] junghans opened #429 "IMC: remove potential crop"
Related to https://github.com/votca/csg-tutorials/issues/59.

It seems to me that with only support non-zero rdf regions, we should be able to remove the potential crop in the IMC update.

/cc @DRosen285

[2019-10-07 14:01] abrukhno commented on #429
I am not sure I quite follow this potential cropping issue. For me the major issue when using IMC was interruptions in the IMC iteration when a few empty bins were found in RDFs between non-zero data - most often in the decaying tails, where one could perhaps merely skip those points with the rest of the tail altogether. - Is it what you call 'potential cropping'?

That is apart from extremely lon

[2019-10-07 15:59] junghans commented on #429
@abrukhno cropping just removes the first (max. 3) point in a delta potential if the slope isn't monotonic.

Your issues of non-contiguous ranges and slow performance for cross-correlation calculation are independent, but there isn't an easy solution to these issue.

[2019-10-09 20:57] #429 closed, assigned to junghans

[2019-11-01 20:19] #427 closed, assigned to junghans

[2019-11-14 10:49] JensWehner commented on #115
spline classes have unit tests now

[2019-11-14 10:49] #115 closed, assigned to nobody

[2019-11-14 10:51] JensWehner commented on #105
https://github.com/votca/tools/pull/182

[2019-11-14 10:51] #105 closed, assigned to nobody

[2019-11-15 04:36] #121 closed, assigned to JensWehner

[2019-11-18 14:52] JensWehner opened #451 "Add description of what CSG does to beginning of README"

[2019-11-20 00:01] junghans opened #452 "Add a warning that >gmx-2020 doesn't support tabulated interactions."
Mentioning https://redmine.gromacs.org/issues/1347

[2019-11-20 00:01] #313 closed, assigned to schererc

[2019-11-20 00:20] junghans commented on #103
We switched to imported targets everywhere, so now CMake should provide the ability to check version, too.

[2019-11-20 12:52] #194 closed, assigned to nobody

[2019-11-22 22:12] #103 closed, assigned to nobody

[2019-11-24 13:08] #451 closed, assigned to nobody

[2019-11-27 14:35] junghans commented on #452
/cc @acmnpv

[2019-11-27 23:45] #452 closed, assigned to junghans

[2019-12-10 13:29] JensWehner opened #472 "VOTCA-CSG Wiki is really out of date"
the wiki of this repo has lots of outdated information.

e.g.
https://github.com/votca/csg/wiki/BugFix

Should we delete it, because 95% of the relevant information is in votca/votca

[2019-12-10 14:04] junghans commented on #472
Ok, just remove it and replace it with a link to the new documentation!

[2019-12-20 01:17] junghans opened #482 "csg_stat segfault on h5md files"
From:
[code]
Running the isolated `csg_stat` command:
[code]

This already includes the fixed from https://github.com/votca/csg/pull/481 and https://github.com/votca/votca/pull/238.

[2020-01-02 17:29] junghans commented on #493
Still happens from time to time, so I guess we need to fix the random number generation for the regression test.

@nikohansen how would we do that?

[2020-01-03 19:24] #493 closed, assigned to junghans, JensWehner

[2020-01-03 19:24] #482 closed, assigned to jkrajniak

[2020-01-04 10:47] jkrajniak commented on #482
What was the problem?

[2020-01-04 13:30] junghans commented on #482
Two more `Index` back to `int` conversions were needed. see #481

[2020-04-14 02:44] junghans opened #510 "Build with gmx-2021 is broken"
[code]
I guess that came from https://github.com/gromacs/gromacs/commit/38b6b0812dc4bf0a62fdddb6debbc18e580daf93

[2020-04-16 21:03] #510 closed, assigned to junghans

[2020-04-17 00:29] JensWehner commented on #472
I did most of it.

[2020-04-18 14:52] JensWehner commented on #472
Last time we talked about it, you wanted to keep the rest of it? I mean I do not mind deleting the rest. But I do not know how up to date it is.

[2020-04-18 15:52] junghans commented on #472
Just delete everything, but https://github.com/votca/csg/wiki/Installing, the wiki is in git after all, so we can always revert.

[2020-04-18 20:03] JensWehner commented on #472
done.

[2020-04-18 20:03] #472 closed, assigned to JensWehner

[2020-05-25 14:30] felipeZ opened #536 "Ubuntu 20 Segmentation fault"
I recently upgrade my system to Ubuntu 20 and I got the following test errors:
[code]
`cmake` report that it has found Gromacs:
[code]
`gmx --version`, produces the following output:
[code]

Also, All the unit tests from Gromacs pass

Any suggestion about what I am doing wrong?

[2020-05-25 14:42] junghans commented on #536
Isn't Ubuntu 20.04 coming with gmx-2020?
Can you run one of the test by hand, e.g `ctest -V -R integration_Run_csg_reupdate_gmx`?

[2020-05-25 14:48] felipeZ commented on #536
Indeed, it is using Gromacs 2020. I am going to make sure that I link to the Gromacs 2019
[code]

[2020-05-25 15:03] junghans commented on #536
You could run `ldd  /home/felipe/Primer/C++/votca/build/csg/src/tools/csg_reupdate` to see which libgromacs is loaded. In the past `libgromacs` would warn if you try to open an `tpr` will generated with a newer version, but a segfault isn't great.

Can you try to run your 2019 gmx binary on the new (2020) tpr from the test, e.g.
[code]

[2020-05-25 15:19] felipeZ commented on #536
I have managed to link Votca with Gromacs 2019.5 and I get the following error if I try to run gmx 2019 in the new (2020) tpr :
[code]

[2020-05-25 15:36] junghans commented on #536
Hmm, that means for some reason the same error isn't triggered when reading the tpr in votca.

[2020-05-25 15:43] junghans commented on #536
`do_tpxheader()` triggers the error, which is called in `read_tpx()`, which is what we call in VOTCA.

Can you check again which libgromacs is loaded at run using `ldd`?

[2020-05-25 15:46] felipeZ commented on #536
[code]
That is the 2019.5 version. I think that the problem was that I was using Gromacs 2020 and it was causing the segmentation fault. Now I just get plain failures in the tests instead of segmentation faults.

[2020-05-25 15:57] junghans commented on #536
What error message now?

Can you reconstruct how you got the segfault? We might want to add a check for that.

[2020-05-26 07:37] felipeZ commented on #536
Now I am getting this message:
[code]
The segmentation fault error was due to the fact that I was linking VOTCA against Gromacs 2020 instead of 2019.5. I forgot to source the `GMXRC` file

[2020-05-26 13:21] junghans commented on #536
Ok, the error message is as excepted. You will need to clean out your build dir (or at least the `csg-tutorials` parts in there) to get rid of that error.

We build against Gromacs-2020 on the CI, so I still don't understand where the segfault came from. Can you try to make a build against Gromacs 2020 on your system?

[2020-05-27 06:50] felipeZ commented on #536
I have not been able to reproduce the `segmentation fault` error. I think it was due to an inconsistent state in my zsh environment, I was installing several Gromacs and I made a very messed environment

[2020-05-27 12:24] #536 closed, assigned to nobody

[2020-05-27 14:31] junghans opened #537 "lammpsdatareader: detect wrong atom type"
Reported in https://groups.google.com/d/topic/votca/ubngBiT0lEs/discussion

In short, `csg_dump --top spce.data` with input from [here](https://github.com/votca/csg-tutorials/blob/stable/spce/ibi_lammps/spce.data) normally leads to:
[code]
with the bead type being `Bead1` meaning that atom with the mass `18.0154` aren't match to an atom type, but on some machines the output will be:
[code]
which m

[2020-05-27 16:11] JensWehner commented on #537
hmm weird... I guess the tolerance is set wrongly.

[2020-05-28 01:58] JoshuaSBrown commented on #537
Ya the tolerance should not be that poor. I can't look tonight but probably can on Fri or Sat.

[2020-05-29 05:37] JoshuaSBrown commented on #537
I have been unable to reproduce this error with v1.6 or v1.6_rc2, on wsl ubuntu 18. I can try tomorrow on ubuntu 16.

[2020-05-29 12:13] junghans commented on #537
You can ask on the mailing list for details as well. I haven't see this issue before either, I was guessing 32-bit, but that wasn't the case.

Anyhow, I think automatically assigning atom types doesn't make a lot of sense for coarse-grained topologies.

[2020-05-29 16:24] JoshuaSBrown commented on #537
I think it is useful for lammps, we could make it an optional flag though, --auto-detect.

[2020-05-29 18:21] JoshuaSBrown commented on #537
I found the problem:

Some where a c header file is being included. I think it would be a good policy to require the use of fabs instead of abs any time it is being used on a double to avoid this problem. Will submit a fix later.

[2020-05-30 05:11] JoshuaSBrown opened #543 "GROMACS File Readers"
@JensWehner you had trouble with gromacs file readers before, did you ever get the problem fixed. I'm getting tones of linker errors now as well.

[2020-05-30 05:19] JoshuaSBrown commented on #543
I'm wondering if all the gmx files now need a refactor.

[2020-05-30 17:48] junghans commented on #543
Any details?

[2020-05-30 19:49] JensWehner commented on #537
no just use std::abs. This is the problem with using std;.

[2020-05-30 22:52] junghans commented on #537
I think @JensWehner is right: https://stackoverflow.com/a/33738702

[2020-05-31 08:55] JensWehner commented on #543
I had an old version of a gromacs libarray around, which caused those errors. Everything is fine now, it was a user error.

[2020-06-18 12:52] JoshuaSBrown commented on #543
We might need to update cmake,

Found GROMACS: /usr/lib/x86_64-linux-gnu/libgromacs_d.so (found suitable version "2019.6", minimum required is "2018")

Here is a list of the errors

../libcsg/libvotca_csg.so.7: undefined reference to `gmx_mtop_t::gmx_mtop_t()'
../libcsg/libvotca_csg.so.7: undefined reference to `read_first_frame(gmx_output_env_t const*, t_trxstatus**, char const*, t_trxframe*, int

[2020-06-18 12:53] JoshuaSBrown commented on #543
I'll look into this to make sure I'm not doing something wonky with the files in my system library/includes. This passes the ci but I cann't build it locally.

[2020-06-18 12:58] JoshuaSBrown commented on #543
@junghans what versions of gromacs are being used in the ci?

[2020-06-18 13:13] junghans commented on #543
We build against:

- Gromacs-2019.6 on Fedora
- Gromacs 2018.1 on Ubuntu-18.04
- Gromacs-2020.1 on Ubunutu 20.04
- lastest Gromacs-2019/2020/2021 (single and double) in our own containers

[2020-06-19 20:08] JoshuaSBrown commented on #543
There is a problem with the FindGromacs cmake module. Recently the gromacs has switched the api versioning system. Current versions of gromacs are now versioning starting at version 0 which breaks our current cmake module.

[2020-06-19 20:11] JoshuaSBrown commented on #543
Also using the spack gromacs causes problems because it is built with openmpi, gromacs_mpi and libgromacs_mpi need to be added as possible options. I'm working on a solution but welcome feedback.

[2020-06-19 20:56] junghans commented on #543
There is something wrong, in spack votca-csg depends on gromacs without mpi: https://github.com/spack/spack/blob/a20ba315f57bcbbb73838d1b67a15a9e14d580cd/var/spack/repos/builtin/packages/votca-csg/package.py#L35

[2020-06-19 21:02] junghans commented on #543
Remember that we have two mechanisms to detect gromacs:
https://github.com/votca/csg/blob/master/CMakeLists.txt#L86-L89
First we try gromacs-2021 via cmake config and then <=gromacs-2020 via our custom find module.

[2020-06-19 22:10] junghans commented on #543
Plus whatever you do make sure we can still use gromacs-2018/2019 as this is needed for the coarse-graining part.

[2020-06-20 03:47] JoshuaSBrown commented on #543
I have a question why can't we use the config method for also finding earlier versions?

[2020-06-20 12:39] junghans commented on #543
Because it is brocken in earlier versions. I just fixed that recently https://gitlab.com/gromacs/gromacs/-/merge_requests/48

[2020-07-26 01:06] JoshuaSBrown opened #568 "CMake VERSION needs to be bumped in master"
Currently, master is using some variables that only appear to be available after 3.14 e.g. CMAKE_INSTALL_BINDIR

[2020-07-26 05:28] junghans commented on #568
There variables get defined by `GNUInstallDirs.cmake` for earlier versions of CMake, see:
https://github.com/Kitware/CMake/blob/v3.10.0/Modules/GNUInstallDirs.cmake#L36

[2020-07-26 05:28] #568 closed, assigned to nobody

[2020-08-16 14:09] marvinbernhardt opened #577 "IMC multicomponent working?"
Is there a working implementation of multicomponent IMC?

I'm trying with csg-tutorials/propane/imc, but only A-A gets updated. I took a look in src/tools/csg_stat_imc.cc, but with my low C++ skills I can't tell if multicomponent sampling of the IMC matrix is implemented or not. The resulting matrix all.gmc is zero everywhere except for the A-A block.

[2020-08-16 14:17] junghans commented on #577
It should work, it might have something to do with `do_potential` in the `propane/imc` case, `A-A` get update in step 1, then `B-B` in step 2, then `A-B` in step 3 and so on.

@DRosen285 knows more.

[2020-08-16 14:46] marvinbernhardt commented on #577
I tried setting all `do_potential` to `1`, but it does not help.

[2020-08-16 15:06] marvinbernhardt commented on #577
simple plot of all.gmc
![imc-mat](https://user-images.githubusercontent.com/25516935/90337455-cd687780-dfe2-11ea-94a6-2e16e91a8486.png)

[2020-08-16 15:19] junghans commented on #577
Are all interactions in the `all` group?

[2020-08-16 15:27] marvinbernhardt commented on #577
yes

[2020-08-16 15:29] junghans commented on #577
Does the `LJ1-LJ2/imc` example works as expected?

[2020-08-16 15:45] marvinbernhardt commented on #577
Nope. I try with do_potential = 1, short number of frames and votca master branch.
![imc-mat](https://user-images.githubusercontent.com/25516935/90338211-34d4f600-dfe8-11ea-9934-aed512ad879f.png)

[2020-08-16 15:47] junghans commented on #577
@DRosen285 do you have any idea?

[2020-08-16 16:44] marvinbernhardt commented on #577
https://github.com/votca/csg/blob/00db20e927a7a76554692a8c4f4d684c933433e7/src/tools/csg_stat_imc.cc#L691
This line seems to be the problem. I don't know why yet, but it seems to insert all matrices at the top right corner of gmc. Found out by writing gmc and M.transpose().eval() at the end of each pair.

[2020-08-16 16:58] marvinbernhardt commented on #577
`i` and `j` are not correct I think. When printed they are 0-2. But they should be offsets, right?
https://github.com/votca/csg/blob/00db20e927a7a76554692a8c4f4d684c933433e7/src/tools/csg_stat_imc.cc#L683-L684

[2020-08-16 17:16] DRosen285 commented on #577
So I just checked, v1.5 (the last version I used) via docker. There the LJ1-LJ2/imc example works.

There is a slight difference in that part in v1.5:

    661             int i=pair->_offset_i;
    662             int j=pair->_offset_j;

So maybe by re-writing that part sth.went wrong.

[2020-08-16 17:18] marvinbernhardt commented on #577
This seems to be broken since https://github.com/votca/csg/commit/edeab35411d18882b08872c0c83435f87d9d7825#
Before the offsets in `pair_t` where correctly generated.

https://github.com/votca/csg/blob/00db20e927a7a76554692a8c4f4d684c933433e7/src/tools/csg_stat_imc.cc#L493-L503

[2020-08-16 17:19] JensWehner commented on #577
Okay that was me then.

[2020-08-16 17:20] marvinbernhardt commented on #577
Wanna fix it or should I try?

[2020-08-16 17:22] JensWehner commented on #577
Go ahead. I have no idea. If you need any help let me know. :)

[2020-08-16 17:25] junghans commented on #577
I blame @JensWehner

[2020-08-16 17:26] JensWehner commented on #577
I think it is the `InitializeGroups()` refactoring. The new indices `i` and `j` seem wrongly computed.

[2020-08-16 17:29] JensWehner commented on #577
@junghans all the tests worked.. so we have to fix that part.

[2020-08-16 17:45] junghans commented on #577
Yeah we don’t have a multi-component test.

[2020-09-01 09:51] mangesh-bhendale opened #590 "Error during IBI csg Tutorial of liquid Hexane"
I am trying to perform Hexane tutorial. I finished the atomistic simulation of hexane and got the A-A, A-B, B-B rd's and bond and angle distribution also. Now, while I am trying to to the IBI coarse graining an occurred and this was mentioned in the onverse.log file:

For a more verbose log see: inverse.log
csg_get_property: No value for 'cg.inverse.mpi.tasks' found in /root/votca/csg-tutorials/he

[2020-09-01 12:49] junghans commented on #590
On Tue, Sep 1, 2020, 03:52 mangesh-bhendale <notifications@github.com>
wrote:

There aren't errors, it just means there is no default value for these
properties.

What are the last couple of lines before the error message? Or attach the
whole inverse.log here.

Christoph

[2020-09-01 13:29] mangesh-bhendale commented on #590
Yes, I did not find any default values of those parameters. Where can I find them?

I am attaching the inverse.log file here.
[inverse.log](https://github.com/votca/csg/files/5156470/inverse.log)

[2020-09-01 14:20] junghans commented on #590
On Tue, Sep 1, 2020 at 07:29 mangesh-bhendale <notifications@github.com> wrote:

If you look at the very end it says “gmx_d grompp” failed and if you
scroll a bit up

Fatal error:
The group cutoff scheme has been removed since GROMACS 2020. Please use the
Verlet cutoff scheme.

In short, to do coarse-graining you basically need to use gmx-2019.*
(or lammps) as the current gromacs version has no su

[2020-09-01 14:22] junghans commented on #590
A warning was added a while back to CMake in #452.

[2020-09-01 14:22] #590 closed, assigned to nobody

[2020-09-02 17:24] kfjclement opened #594 "Issue with ibi_lammps tutorial"
Running run.sh file in ibi_lammps tutorial folder failed with the following output:

[code]

Running `csg_stat --nt 12 --options /home/cfk2120/Desktop/lammps/ibi_lammps/settings.xml --top spce.data --trj traj.dump --begin 0 --first-frame 0` or just with --nt 1 gives the following error:
[code]
I installed Votca on ubuntu using:
apt-get install votca-csg

[2020-09-02 17:26] junghans commented on #594
What version of votca is that?

[2020-09-02 17:27] junghans commented on #594
Just run `csg_call --version`.

[2020-09-02 17:29] junghans commented on #594
And what version of Ubuntu is this?

[2020-09-02 17:32] kfjclement commented on #594
Votca version 1.4.1
Ubuntu 18.04

[2020-09-02 17:34] junghans commented on #594
Ah, I got it. You are using a too new version of the tutorials,  please use the matching v1.4.1 version of the tutorials:  https://github.com/votca/csg-tutorials/releases/tag/v1.4.1

[2020-09-02 17:39] kfjclement commented on #594
I tried running csg_stat in that tutorial and got the same error.

[2020-09-02 18:04] junghans commented on #594
In that version, we use `topol.xml` instead of the data file: https://github.com/votca/csg-tutorials/blob/v1.4.1/spce/ibi_lammps/settings.xml#L36

[2020-09-02 19:40] kfjclement commented on #594
It worked! Thank you!

[2020-09-02 19:40] #594 closed, assigned to nobody

[2020-10-13 10:13] #577 closed, assigned to DRosen285

[2020-10-13 11:33] marvinbernhardt opened #600 "Fork bomb by csg_inverse if shared library missing"
When i do csg_inverse and i don't load the intel module (for mkl), it just says `Terminated`, no inverse.log is created, and lots of inverse.sh processes get spawned. Tested with the current master branch.
I don't really know where or how to debug this, so any ideas are welcome.

[2020-10-13 12:28] junghans commented on #600
Can you try to run `csg_property --help`? And look for errors.

[2020-10-13 12:38] JensWehner commented on #600
Was it compiled with MKL ?

[2020-10-13 13:07] marvinbernhardt commented on #600
@junghans
[code]
@JensWehner
Yes, it was. It was compiled with
[code]
nd the problem occurs if I run it with all loaded but intel.

[2020-10-13 13:09] JensWehner commented on #600
so your csg was compiled with intel. So csg needs to know where the MKL library is at runtime. If you do not load it csg will run and then try to call the mkl and then the error is thrown.

[2020-10-13 13:10] junghans commented on #600
Could you build it with `-DENABLE_RPATH_INJECT=On`?

[2020-10-13 13:17] marvinbernhardt commented on #600
Ah yeah, it might actually compile with the intel compiler, did not realise this.
Anyway, I think it is correct to throw an error and stop. But the error message doesn't help, plus the infinite process spawning which is annoying.

[2020-10-13 13:18] JensWehner commented on #600
It is not compiled with the intel compiler, it is probably linked against the intel math library, which votca does by default if it finds one on the system.

[2020-10-13 13:18] JensWehner commented on #600
against the process spawning, I think that is part of the scripts @junghans

[2020-10-13 13:20] marvinbernhardt commented on #600
This fixes the problem!

[2020-10-13 13:21] JensWehner commented on #600
@junghans can you explain why it fixes the problem? :)

[2020-10-13 13:22] JensWehner commented on #600
ahh it basically tells votca, where these other libraries might be, so you do not have to load them. Clever...

[2020-10-13 13:24] junghans commented on #600
It happens surprising often that libraroes can not be found a run time, so I think I will add a check to start sequence of csg_inverse to make the user aware of this issue instead of going into an endless fork bomb.

[2020-10-13 13:33] junghans commented on #600
Yeah basically this option makes votca remember where libraries were found at compile time and inject that path into the rpath of the installed binaries. But that doesn't work on all system though.

The main reason the fork bomb happens is that csg_inverse tries to read a value from the xml file and that fails due to missing library and then it tries to issue an error message for which it tries to

[2020-10-14 15:49] #600 closed, assigned to nobody

[2020-11-05 21:23] junghans opened #612 "build with gromacs master fails"
[code]

see e.g. in this build https://github.com/votca/votca/pull/505/checks?check_run_id=1360492224

[2020-11-05 21:25] junghans commented on #612
@eirrgang what is the replacement for `trxio.h` in the current master?

[2020-11-05 21:53] junghans commented on #612
Ok, I tracked it back to our `read_first_frame(oenv, &_gmx_status, (char *)_filename.c_str(), &_gmx_frame, TRX_READ_X | TRX_READ_V | TRX_READ_F))` and `read_first_frame()` is also missing in the new headers.

So @eirrgang how would I implement that these days?

[2020-11-06 08:16] eirrgang commented on #612
I made a note to make sure those get restored with https://gitlab.com/gromacs/gromacs/-/merge_requests/795

I'm hoping to rally the troops and get https://gitlab.com/gromacs/gromacs/-/issues/3288 resolved in the next week or two. (Let me know if you can help.)

[2020-11-06 12:58] junghans commented on #612
Thanks, let me know if there is a non-legacy way to do the same.

[2020-11-06 13:15] eirrgang commented on #612
There is not. Public access to the `gromacs/...` headers has been deprecated for some time. Obviously, they will not be permanently removed until use cases like VOTCA's have been addressed in `gmxapi/...` headers. It is unclear when (or if) that will happen.

As long as the `Gromacs::libgromacs` target is importable, it should continue to work as it has. At least, once #3288 is resolved. There wil

[2020-11-12 18:23] eirrgang commented on #612
Please try https://gitlab.com/gromacs/gromacs/-/commits/3288-fileio

Feel free to contribute commits to that branch if needed.

Please follow up at https://gitlab.com/gromacs/gromacs/-/issues/3288

Thanks!

[2020-11-12 19:45] junghans commented on #612
I can confirm `3288-fileio` works.

[2020-11-15 14:40] junghans opened #613 "lammpsreader fails on files with windows line endings"
Reported here: https://groups.google.com/g/votca/c/OSrrvJaYOqk/m/7UuSBJ0rAwAJ

Steps for reproduce:

- Get https://github.com/votca/csg-tutorials/blob/master/spce/ibi_lammps/spce.data
- Convert it to a Windows file, e.g. `unix2dos spce.data`
- Run the reader on it, e.g. `csg_dump --top spce.data`
- It will fail with error: `Unrecognized line in lammps .data file`, while the original files works

[2020-11-15 15:18] JensWehner commented on #613
The question is, do we want to support that? Otherwise we do not support windows functionality either?

[2020-11-15 16:04] junghans commented on #613
Well some editors save file with windows file ending, so we should. For the xml files we do it here: https://github.com/votca/tools/blob/079d9c28aa3be82f0ae9a7807b738a84cc9e5c67/include/votca/tools/getline.h#L37

[2020-11-15 16:08] junghans commented on #613
The lammps reader is using said `getline()` function (https://github.com/votca/csg/blob/d7c94c5c8485b0f2bef4905efc2e3880fa8390fa/src/libcsg/modules/io/lammpsdatareader.cc#L120) so this is a bit strange.

@JensWehner any ideas?

[2020-11-15 17:39] JensWehner commented on #613
my first thought is we should explicitly call `tools::getline` because maybe some parts call the wrong function?

[2020-11-15 23:01] junghans commented on #613
Good point that fixes it!

[2020-11-16 18:19] #613 closed, assigned to JoshuaSBrown, JensWehner

[2020-12-01 22:55] junghans opened #618 "Parse xml descriptions into rst"
Following up from https://github.com/votca/csg-manual/pull/60, I was try to use `/extract_metadata.py` from xtp, but got the following error:
[code]

@felipeZ any idea?

[2020-12-01 23:06] junghans commented on #618
Got it (see https://github.com/votca/xtp/pull/603)

[2020-12-02 20:17] junghans commented on #618
@felipeZ can you look at the last table here: https://votca.github.io/csg-manual/index.html the formatting is a bit wrong.

[2020-12-08 16:24] junghans commented on #618
Table formatting broken here: https://votca.github.io/csg-manual/reference.html#settings-file

[2020-12-08 16:37] junghans commented on #618
We still need reference of the scripts and what options they use (section 10.5 of http://doc.votca.org/manual.pdf) AND program reference (section 10.1 of  http://doc.votca.org/manual.pdf)

[2020-12-09 15:57] felipeZ commented on #618
@junghans when I built the csg-manually locally I get the following table:

![sample_settings](https://user-images.githubusercontent.com/4108663/101653175-59455a00-3a3f-11eb-997d-796445d3e9ea.jpg)

I think it is something in the css configuration

[2020-12-09 16:19] felipeZ commented on #618
See [votca/votca/css](https://github.com/votca/votca/tree/css)

[2020-12-09 17:27] junghans commented on #618
Let's merge votca/votca#535 and see what happens.

[2020-12-10 10:24] felipeZ commented on #618
The table format seems to be fixed, also notice that there is a slider at the table's bottom, see below:
![slidebar](https://user-images.githubusercontent.com/4108663/101759693-32883180-3ada-11eb-87b4-0638acd70f08.jpg)

[2020-12-10 17:04] junghans commented on #618
@felipeZ now all descriptions are gone....

[2020-12-11 12:57] felipeZ commented on #618
@junghans  the problem is in the Python script and not in the `css` folder. The Python script is not extracting the descriptions correctly, I am going to fix that

[2020-12-11 13:50] felipeZ commented on #618
@junghans  the descriptions should be back with [votca/votca#539](https://github.com/votca/votca/pull/539)

[2020-12-17 12:01] #612 closed, assigned to JoshuaSBrown

[2020-12-28 05:14] junghans opened #624 "csg_boltzmann exclusions creation broken"
From https://groups.google.com/g/votca/c/1ECuIXGGMQE/m/0_0CmdQhBgAJ, somewhere between v1.5.1 and v1.6.3 we broke the exclusion creation in csg_boltzmann.

I will write a couple of tests against the v1.5.1 behaviour.

[2021-01-05 17:41] #624 closed, assigned to JensWehner

[2021-01-12 16:26] junghans commented on #618
@felipeZ as discussed, can you swap the default and description column in https://www.votca.org/csg/reference.html

[2021-01-24 22:38] junghans opened #639 "csg_orientcorr.rst:17: WARNING: Definition list ends without a blank line; unexpected unindent."
Warning when converting csg_orientcorr output:
[code]

The rst section:
[code]

[2021-02-08 00:03] junghans commented on #618
ping @felipeZ - to switch order to columns (see above)

[2021-02-09 16:18] junghans commented on #618
@felipeZ ping

[2021-02-09 17:10] felipeZ commented on #639
@junghans  We can solve this issue by moving the equation at the begginning of the line like:
[code]

[2021-02-09 19:03] junghans commented on #639
I thought we fixed that in #648

[2021-02-09 19:03] #639 closed, assigned to felipeZ

[2021-02-09 21:21] #618 closed, assigned to junghans, felipeZ

[2021-02-24 06:23] yurivict opened #669 "1.6.3 fails to build: use of undeclared identifier 'bind2nd'"
http://package19.nyi.freebsd.org/data/122amd64-default-build-as-user/566258/logs/votca-1.6.3.log

[2021-02-24 07:40] yurivict commented on #669
Same with 2021-rc.1-228-g1754257:

[code]

[2021-02-24 13:58] junghans commented on #669
Seems like an internal boost error, @JensWehner any ideas?

[2021-02-24 18:45] yurivict commented on #669
Changing the function to ```boost::container::bind2nd``` helps.

[2021-02-24 19:22] junghans commented on #669
I guess `std::bind2nd` should work, too.

[2021-02-25 01:57] #669 closed, assigned to JoshuaSBrown, JensWehner

[2021-02-25 05:41] JoshuaSBrown opened #671 "Codecoverage"
@junghans what's up with our code coverage for csg?

[2021-02-25 07:49] yurivict opened #672 "error: no member named 'bind2nd' in namespace 'std'"
[code]

Did you forget to include ```functional```?

[2021-02-25 13:49] junghans commented on #671
What is the problem?

[2021-02-25 18:41] JensWehner commented on #672
I think this should be fixed now?

[2021-02-25 19:11] yurivict commented on #672
This is fixed.

[2021-02-25 19:11] #672 closed, assigned to nobody

[2021-02-25 19:13] yurivict commented on #672
Could you please update submodules in ```votca``` such that this fix is included? Just pulling this fix in causes compilation breakage.

[2021-02-25 20:56] junghans commented on #672
@votca-bot will do that in a bit.

[2021-02-25 21:01] junghans commented on #672
see https://github.com/votca/votca/pull/650

[2021-04-08 16:53] junghans opened #685 "minor website issues"
Looking at

I saw:

- votcapackage (no space)
- sec. [sec:csg_table] (missing link)

We should to a `git grep` on the documentation and fix them all.

[2021-04-09 16:07] marvinbernhardt commented on #685
#686 should fix those

[2021-04-09 23:16] #685 closed, assigned to marvinbernhardt

[2021-08-04 18:51] rdguha95 opened #704 "csg-stat does not read bead masses if they are certain numbers"
There is some bug in the csg-stat reader when it comes to LAMMPS CG data files. The reader only reads bead masses if they are certain numbers. It happens when you are performing any type of ibi using lammps and can be shown even in the ibi_lammps example in the csg-tutorials folder in votca.

The simulation is for CG water molecules with each bead having a mass of 18.01540. For this mass, the inve

[2021-08-05 13:31] JensWehner commented on #704
Let me guess that you have an a bead with the name `Yttrium`.

The element names are inferred from the mass of the bead, which is quite fragile if your bead has a mass close to that of an element. Unfortunately there is no way to get from a lammps datafile if it is coarse grained or not.

But I think we should make the tolerance strighter. I propose this https://github.com/votca/tools/pull/378

[2021-08-05 13:58] rdguha95 commented on #704
So if a bead mass is close to an element name then it does not get read? Or it does get read but automatically assigned to an element? In that case if I rename my bead from bead 1 to Yttrium, should that work?

[2021-08-05 14:17] rdguha95 commented on #704
Another suggestion from our side would be :- Is it possible to do a conditional checking if the run is from LAMMPS and not perform element check if "TRUE".

[2021-08-05 14:47] junghans commented on #704
I think we should go back to the old behavior where we did not try to detect the atom type and hence had no masses unless they were explicitly specified.

[2021-08-05 14:53] rdguha95 commented on #704
That would work too! But for now can anyone tell us what does VOTCA assign the bead to if it matches an element number. For my alanine simulation which has a bead of 88.1, it should correspond to Yttrium as Jens pointed out. I tried renaming Bead1 to both "Yttrium" and "Y", but I got the same error.

What name is VOTCA assigning to this 88.1 mass bead if not Bead1/Yttrium/Y?

[2021-08-05 15:50] rdguha95 commented on #704
Never mind. I found it out using csg_dump --top topol.xml. It is assigning the 88.2 bead as Sr1

[2021-08-05 16:34] junghans commented on #704
That is a good workaround using xml as topology file should work well.

[2021-08-05 16:36] rdguha95 commented on #704
We don't even have to use xml as a topology file. Just using csg_dump --top spce.data on the lammps data file also works. You just have to find the appropriate bead name and then rename the settings file accordingly

[2021-08-06 14:52] JensWehner commented on #704
Yeah I am not pleased with the current solution. But I am not sure how to fix this. On the one hand people will complain if the all the beads have no element names. on the other hand this sucks for coarse-graining

[2021-08-10 11:08] JensWehner commented on #704
@junghans is it possible to have coarse grained and atomic "beads" in the same simulation or is it all coarse grained vs all atomic?

[2021-08-10 11:12] JensWehner commented on #704
We could also search for the existence of `H` atoms and see that as an indication that it is atomic.

@junghans @rdguha95 can you give me rules, of which atomic masses most likely are atomic systems and which ones are coarse grained?

[2021-08-10 11:26] junghans commented on #704
Mixing of atomistic and coarse-grained is very unlikely

[2021-08-18 04:42] junghans commented on #704
Fixed in #705

[2021-08-18 04:42] #704 closed, assigned to JoshuaSBrown, JensWehner

[2021-09-06 16:27] wisecashew opened #709 "Problem with running csg_stat on IBI simulation of polymer"
I am running an IBI-based simulation of PNIPAM with 40 monomer segments. The monomer ssegment has 3 types of beads, two at the termini (TTA, TTB) and all the beads in the middle are one type of bead (TM). The molecule is PNM, and each monomer is a residue inside the molecule. The solvent is a single coarse-grained bead of water SOL, of type TW.

When I run the, ibi simulation, it stops after step_

[2021-09-06 16:50] junghans commented on #709
Can you add the `conf.gro` to the repo? That can serve as an replacement for `traj.xtc`.

[2021-09-06 16:53] junghans commented on #709
And you forget the `water_cg.xml` as well.

[2021-09-06 16:54] wisecashew commented on #709
Added both files

[2021-09-06 17:07] junghans commented on #709
If I increase the `max` for the `BOTA` bond, run `csg_stat --options settings.xml --top topol.tpr --trj conf.gro --begin 0 --first-frame 0 --cg "fortynipam_cg.xml;water_cg.xml"`, I get an entry at `0.613`, which is what I would see from the conf.gro file as well:
[code]
i.e. `sqrt((3.468-3.514)^2+(4.137-3.782)^2+(6.790-6.292)^2)=0.613307`.

So my guess is that the bond got overstretched, in step_0

[2021-09-06 17:09] junghans commented on #709
I would try to do IBI for the non-bonded interactions only first using an harmonic potential for the bonds that you get from fitting the distributions. Once the non-bonded interactions are converged through the bonded interactions in the mix.

[2021-09-06 17:18] wisecashew commented on #709
I understand. The reason I picked those bond lengths is because that is what I saw from the target distributions (.tgt), which I have now added to the git repo.

[2021-09-06 17:25] junghans commented on #709
Yeah, I have seen a similar things before where bonds got overstretched from too strong non-bonded interactions hence I would try to first do IBI on the non-bonded interactions and then do the bonded interactions later.

However, as you cannot do non-bonded IBI with at least some bonded interactions you will need do a harmonic fit from the target distributions.

[2021-09-06 17:28] wisecashew commented on #709
I have two questions:
1. What is the difference between conf.gro and confout.gro in this case? from grep-ing "confout" and "conf" in inverse.log, mdrun seems to use confout.gro, while grompp uses conf.gro.
2. So I should first optimize non-bonded interactions, and then start optimizing bonded interactions. When you say performing a harmonic fit for the target distributions, do you mean finding the

[2021-09-06 17:29] junghans commented on #709
Looking at `BOTA.dist.tgt`, I have two observations:

- the distributions is very rough, doing IBI on that is not going work, you will either need to run your all-atom simulation longer or increase the bin size.
- a fit with a single harmonic might not cut it, but I would still try, `r_0=0.6nm`.

[2021-09-06 17:32] wisecashew commented on #709
Got it. I will get on this right away.

[2021-09-06 17:33] junghans commented on #709
`conf.gro` are the initial coordinates, while `confout.gro` are the final coordinates after `mdrun` ran.

Yes, I meant a simple harmonics spring potential, .e.g U=k/2*(r-r_0)**2, gromacs has that built-in, you just need to determine the two missing numbers from the fit.

[2021-09-06 17:36] junghans commented on #709
Good luck!

[2021-09-07 13:18] #709 closed, assigned to nobody

[2021-09-26 18:33] junghans commented on #671
Resolved itself.

[2021-09-26 18:33] #671 closed, assigned to nobody

[2021-09-26 20:44] junghans commented on #94
This is done.

[2021-09-26 20:44] #94 closed, assigned to junghans

[2021-09-26 21:04] junghans commented on #543
Fixed in #554.

[2021-09-26 21:04] #543 closed, assigned to nobody

[2021-09-26 21:06] junghans commented on #537
Fix in #705

[2021-09-26 21:06] #537 closed, assigned to JoshuaSBrown